<title>{{ page_title }}</title>
<div id="dashboard_offers" class="subpage">
    <!-- hero -->
    <div class="dashboard_hero w-full min-h-72 rounded-2xl text-white relative flex justify-center items-center">
        <!-- season & date -->
        <div class="flex flex-col z-10 p-5">
            {% if solar_term %}
                <div class="solar-timeline">
                    <div class="flex flex-col">
                        <span id="solar_term" class="text-4xl">{{ solar_term }}</span>
                        <span id="solar_term_en" class="text-[16px]">{{ solar_term_en }}</span>
                    </div>
                    {% if next_solar_term %}
                    <div class="solar-arrow-container">
                        <div class="solar-arrow"></div>
                    </div>
                    <div class="flex flex-col">
                        <span id="next_solar_term" class="text-4xl">{{ next_solar_term }}</span>
                        <span id="next_solar_term_en" class="text-[16px]">{{ next_solar_term_en }}</span>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            <span id="dynamic-date" hx-preserve="true" class="text-sm text-center"></span>
        </div>
        <!-- clock -->
        {% include 'accounts/partials/clock_analog.html' %}
        <!-- bg img -->
        <img src="/media/hero/red_leaves.jpeg" alt="" class="absolute left-0 top-0 w-full h-full rounded-4xl object-cover">
    </div>
    
    <ul class="mt-10 p-5 grid grid-cols-2 bg-gradient-to-r from-[#0f172a] to-[#1e3a8a] rounded-box inset-shadow-sm mb-20 text-secondary gap-5">
        {% for up in eligible_perks %}
        <li class="flex flex-col">
            <!-- coupon -->
            <div class="coupon w-1/2 m-5"
                style="--dynamic-bg: url('{{ up.perk.featured_image.url }}'); --watermark: '{{ up.perk.code }}';">
                <div class="left text-center">
                    <div class="text-shadow-lg text-shadow-white">
                        <span class="text-[0.55rem]">{{ up.perk.desc_en }}</span>
                        <br/>
                        <span class="text-[0.75rem]">{{ up.perk.desc_cn }}</span>
                    </div>
                </div>
                <div class="center">
                    <div>
                        <h2>{{up.perk.chinese_disc_rate}} <i class="fa-solid fa-ticket"></i>優惠券</h2>
                        <h3 class="font-semibold text-shadow-lg text-shadow-white">{{ up.perk.discount_value|floatformat:"-2" }}{% if up.perk.discount_type == "percentage" %}%{% endif %} OFF</h3>
                        <div class="p-1 text-secondary-content text-shadow-2xs text-shadow-primary">
                            <b class="text-xs">{{ up.perk.formatted_expiry }}</b>
                            {% if up.perk.max_uses < 5 %}
                                <span class="block text-white text-[0.65rem]">
                                    Only｜僅剩<span class="text-2xl font-black">&nbsp;{{ up.perk.remaining_uses }}&nbsp;</span>left｜張!
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="right flex flex-col">
                    <div class="-rotate-90 text-center">
                        <!-- The Barcode Visual -->
                        <div class="libre-barcode-128-regular text-2xl -mb-2 tracking-widest">
                            {{ up.unique_code|stringformat:"s" }}
                        </div>
                        <!-- The Readable Text for User Entry -->
                        <div class="text-center text-[0.75rem]/[0.9rem] tracking-tight">
                            Enter at Checkout<br>結帳時請輸入 <span id="perk_code_{{ up.pk }}" class="font-black text-sm">{{ up.unique_code|stringformat:"s" }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- copy code button -->
            <div class="px-[2rem]">
                <button class="w-full btn btn-primary text-white join-item" onclick="copyPerkCode({{up.pk}})">
                    Copy Code｜複製優惠碼
                </button>
            </div>
            <!-- countdown -->
            <div class="h-auto flex items-center justify-center p-3 w-full">
                {% if up.personalized_expiry %}
                <div class="mr-5 text-sm text-amber-300 font-bold tracking-widest">Ends in<br>優惠截止倒數</div>
                <div class="grid grid-flow-col gap-5 text-center auto-cols-max" 
                     id="countdown-{{ up.perk.id }}" 
                     data-expiry="{{ up.personalized_expiry|date:'c' }}">
                    <!-- DAYS -->
                    <div class="flex flex-col">
                        <div class="flex">
                            <!-- tens -->
                            <div id="flip_day_tens" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                            <!-- ones -->
                            <div id="flip_day_ones" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                        </div>
                        <div class="text-[0.55rem] text-white">days｜日</div>
                    </div>
                    <!-- HOURS -->
                    <div class="flex flex-col">
                        <div class="flex">
                            <!-- tens -->
                            <div id="flip_hour_tens" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                            <!-- ones -->
                            <div id="flip_hour_ones" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                        </div>
                        <div class="text-[0.55rem] text-white">hours｜時</div>
                    </div>
                    <!-- MINUTES -->
                    <div class="flex flex-col">
                        <div class="flex">
                            <!-- tens -->
                            <div id="flip_min_tens" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                            <!-- ones -->
                            <div id="flip_min_ones" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                        </div>
                        <div class="text-[0.55rem] text-white">minutes｜分</div>
                    </div>                   
                    <!-- SECONDS -->
                    <div class="flex flex-col">
                        <div class="flex">
                            <!-- tens -->
                            <div id="flip_sec_tens" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                            <!-- ones -->
                            <div id="flip_sec_ones" class="flip-score-card" data-prev="">
                                <div class="top"></div>
                                <div class="bottom"></div>
                            </div>
                        </div>
                        <div class="text-[0.55rem] text-white">seconds｜秒</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}           
    </ul>
</div>
