{% extends 'accounts/dashboard_base.html' %}

{% block accounts_content %}
<!-- hero -->
<div class="relative w-full h-[14rem]">
    <img src="/media/hero/red_leaves.jpeg" alt="" class="reel -z-1 absolute left-0 top-0 h-full w-full object-cover">
    <div class="absolute top-[47%] left-[20%]">
        <h2 class="text-5xl text-primary-content">霜降</h2>
    </div>
    <div class="absolute right-8 bottom-12 text-right text-primary-content">
        <div id="dynamic-date"></div>
        <div id="dynamic-clock"></div>
    </div>
</div>

<!-- order -->
<div class="relative h-auto overflow-hidden my-5">
    <!-- open drawer button -->
    <button id="status_btn" class="w-[6rem] z-11 absolute top-5 right-5 btn btn-primary" onclick="open_status()">訂單狀態</button>

    <!-- order status timeline -->

        <ul  id="status_drawer" class="rounded-2xl bg-primary-content z-10 absolute top-0 -left-1/3 bottom-0 ease-linear timeline timeline-vertical w-1/3 text-left py-[1rem]">
            <!-- order processed -->
            <li>
                <div class="timeline-start"><i class="fa-solid fa-list-check"></i></div>
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="text-primary h-5 w-5"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </div>
                <div class="timeline-end text-xs py-3 font-bold">訂單已處理</div>
                <hr class="bg-primary" />
            </li>
            <!-- shipped -->
            <li>
                <hr class="bg-primary" />
                <div class="timeline-end"><i class="fa-solid fa-truck-ramp-box"></i></div>
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="text-primary h-5 w-5"
                    >
                        <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"
                        />
                    </svg>
                </div>
                <div class="timeline-start text-xs py-3 font-bold">物品已發送</div>
                <hr class="bg-primary" />
            </li>
            <!-- en-route -->
            <li>
                <hr class="bg-primary" />
                <div class="timeline-start"><i class="fa-solid fa-truck-fast"></i></div>
                <div class="timeline-end text-xs py-3 font-bold">正在運輸中</div>
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="text-primary h-5 w-5"
                    >
                        <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"
                        />
                    </svg>
                </div>
                <hr />
            </li>
            <!-- delivered -->
            <li>
                <hr />
                <div class="timeline-end"><i class="fa-solid fa-person-chalkboard text-base-300"></i></div>
                <div class="timeline-start text-xs py-3 font-bold text-base-300">已送達</div>
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="text-base-300 h-5 w-5"
                    >
                        <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd"
                        />
                    </svg>
                </div>
            </li>
            <div class="w-full h-auto text-xs text-center p-5">
                <b>備註：</b>注意事項備注事項配送注意注意事項備注事項配送注意注意事項備注事項配送注意注意事項備注事項配送注意
            </div>

        </ul>
        <!-- memo -->

    <style>
        #status_drawer {
        /* width: 100%;
        height: 50px; /* Example height */
        transition: transform 0.5s ease-out; /* Smooth transition for transform */
        }

        #status_drawer.slid {
        transform: translateX(100%); /* Move 100% of its own width to the right */
}
    </style>
    <script>
        const tl_el = document.querySelector('#status_drawer')
        const status_btn = document.querySelector("#status_btn")
        const open_status = () => {
            tl_el.classList.toggle("slid")
            if(tl_el.classList.contains("slid")){
                status_btn.textContent = "關閉"
                status_btn.classList.remove("btn-primary")
                status_btn.classList.add("btn-accent")
            } else {
                status_btn.textContent = "訂單狀態"
                status_btn.classList.remove("btn-accent")
                status_btn.classList.add("btn-primary")
            }
        }
    </script>

    <!-- order summary -->
    <div class="card w-full bg-base-200 shadow-sm">
        <div class="card-body">
            <!-- header -->
            <div class="text-lg flex justify-between w-full font-bold">訂單號碼# 134afdkl32kjgaopaore </div>
            <div class="text-xs flex justify-start w-full ml-8">
                訂單日期：2025年11月25日
                <br/>
                預計送達：2025年12月1日
                <br/>
                快遞單號：UPS 123443590345
                <br/>
                收件人名：Anna Hong
                <br/>
                配送地址：香港九龍尖沙咀北京道8號808室
                <br/>
                郵政編碼：00000
                <br/>
                手機號碼：（852）8888-8888

            </div>
            <!-- items -->
            <ul class="list bg-base-100 rounded-box shadow-md py-6">
                <li class="flex gap-3 p-3">
                    <div class="flex-grow-0 text-4xl font-thin opacity-30 tabular-nums pl-5">01</div>
                    <div class="flex flex-col flex-grow justify-center">
                        <div class="flex justify-between items-center mb-3">
                            <!-- item-name -->
                            <div class="list-col-grow">
                                <div>Dio Lupa</div>
                                <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                                <div class="md:size-38 aspect-square mt-2"><img class="w-full h-full rounded-box object-cover" src="/media/hero/lavendar.svg"/></div>
                            </div>
                            <!-- item-unit_price -->
                            <div class="text-center">
                                <div class="text-primary">RMB 80.88</div>
                            </div>
                            <!-- item-quantity -->
                            <div>X 1</div>
                            <!-- subtotal_price -->
                            <div class="text-right text-base-content pr-5">
                                RMB 80.88
                            </div>
                        </div>
                    </div>
                </li>
                <div class="divider pl-1/10"></div>+

                <li class="flex gap-3 p-3">
                    <div class="flex-grow-0 text-4xl font-thin opacity-30 tabular-nums pl-5">02</div>
                    <div class="flex flex-col flex-grow justify-center">
                        <div class="flex justify-between items-center mb-3">
                            <!-- item-name -->
                            <div class="list-col-grow">
                                <div>Dio Lupa</div>
                                <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                                <div class="md:size-38 aspect-square mt-2"><img class="w-full h-full rounded-box object-cover" src="/media/hero/tulip.svg"/></div>
                            </div>
                            <!-- item-unit_price -->
                            <div class="text-center">
                                <div class="text-primary">RMB 80.88</div>
                            </div>
                            <!-- item-quantity -->
                            <div>X 1</div>
                            <!-- subtotal_price -->
                            <div class="text-right text-base-content pr-5">
                                RMB 80.88
                            </div>
                        </div>
                    </div>
                </li>
                <div class="divider pl-1/10"></div>

                <li class="flex gap-3 p-3">
                    <div class="flex-grow-0 text-4xl font-thin opacity-30 tabular-nums pl-5">03</div>
                    <div class="flex flex-col flex-grow justify-center">
                        <div class="flex justify-between items-center mb-3">
                            <!-- item-name -->
                            <div class="list-col-grow">
                                <div>Dio Lupa</div>
                                <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                                <div class="md:size-38 aspect-square mt-2"><img class="w-full h-full rounded-box object-cover" src="/media/hero/purpleFlower.svg"/></div>
                            </div>
                            <!-- item-unit_price -->
                            <div class="text-center">
                                <div class="text-primary">RMB 80.88</div>
                            </div>
                            <!-- item-quantity -->
                            <div>X 1</div>
                            <!-- subtotal_price -->
                            <div class="text-right text-base-content pr-5">
                                RMB 80.88
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- summary -->
            <ul class="mt-6 flex flex-col gap-2 text-xs px-8">
                <li class="flex justify-between"><span>優惠活動</span><span class="text-info-content">RMB -50</span></li>
                <li class="flex justify-between"><span>禮品券</span><span class="text-info-content">RMB -150</span></li>
                <li class="flex justify-between"><span>產品/服務總金額</span><span>RMB 1,700</span></li>
                <li class="flex justify-between"><span>運費</span><span>RMB 100</span></li>
            </ul>
            <hr class="mx-8 text-primary"/>
            <div class="flex justify-between w-full px-8">
                <h2 class="text-[1.5rem]] font-bold">總支付金額:</h2>
                <h2 class="text-[1.5rem]] font-bold">RMB 1,600</h2>
            </div>
        </div>
    </div>
</div>



{% endblock %}