{% load humanize %}
<title>{{ page_title }}</title>

<div id="dashboard_favorites" class="subpage">
    <!-- hero -->
    <div class="dashboard_hero w-full min-h-72 rounded-2xl text-white relative flex justify-center items-center">
        <!-- season & date -->
        <div class="flex flex-col z-10 p-5">
            {% if solar_term %}
                <div class="solar-timeline">
                    <div class="flex flex-col">
                        <span id="solar_term" class="text-4xl">{{ solar_term }}</span>
                        <span id="solar_term_en" class="text-[16px]">{{ solar_term_en }}</span>
                    </div>
                    {% if next_solar_term %}
                    <div class="solar-arrow-container">
                        <div class="solar-arrow"></div>
                    </div>
                    <div class="flex flex-col">
                        <span id="next_solar_term" class="text-4xl">{{ next_solar_term }}</span>
                        <span id="next_solar_term_en" class="text-[16px]">{{ next_solar_term_en }}</span>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            <span id="dynamic-date" hx-preserve="true" class="text-sm text-center"></span>
        </div>
        <!-- clock -->
        {% include 'accounts/partials/clock_analog.html' %}
        <!-- bg img -->
        <img src="/media/hero/red_leaves.jpeg" alt="" class="absolute left-0 top-0 w-full h-full rounded-4xl object-cover">
    </div>
    <!-- favorites collection -->
    <div id="favorites_wrapper">
        {% include 'accounts/partials/favorites_list.html' with favorites=favorites %}
    </div>
</div>

