<title>{{ page_title }}</title>

<div id="dashboard_addresses" class="subpage">
    <div class="dashboard_hero w-full min-h-72 rounded-2xl text-white relative flex justify-center items-center">
        <!-- season & date -->
        <div class="flex flex-col z-10 p-5">
            {% if solar_term %}
                <div class="solar-timeline">
                    <div class="flex flex-col">
                        <span id="solar_term" class="text-4xl">{{ solar_term }}</span>
                        <span id="solar_term_en" class="text-[16px]">{{ solar_term_en }}</span>
                    </div>
                    {% if next_solar_term %}
                    <div class="solar-arrow-container">
                        <div class="solar-arrow"></div>
                    </div>
                    <div class="flex flex-col">
                        <span id="next_solar_term" class="text-4xl">{{ next_solar_term }}</span>
                        <span id="next_solar_term_en" class="text-[16px]">{{ next_solar_term_en }}</span>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            <span id="dynamic-date" hx-preserve="true" class="text-sm text-center"></span>
        </div>
        <!-- clock -->
        <div id="persistent-analog-clock" hx-preserve="true" class="flex justify-end z-10">
            <div class="relative z-0 bg-transparent">
                <div class="absolute inset-0 -z-10 bg-[#1b5ac63f] blur-md rounded-full"></div>
                <div class="clock z-10">
                    <div class="clock__second"></div>
                    <div class="clock__minute"></div>
                    <div class="clock__hour"></div>
                    <div class="clock__axis"></div>
                    <section class="clock__indicator" style="--i: 1"></section>
                    <section class="clock__indicator" style="--i: 2"></section>
                    <section class="clock__indicator" style="--i: 3"></section>
                    <section class="clock__indicator" style="--i: 4"></section>
                    <section class="clock__indicator" style="--i: 5"></section>
                    <section class="clock__indicator" style="--i: 6"></section>
                    <section class="clock__indicator" style="--i: 7"></section>
                    <section class="clock__indicator" style="--i: 8"></section>
                    <section class="clock__indicator" style="--i: 9"></section>
                    <section class="clock__indicator" style="--i: 10"></section>
                    <section class="clock__indicator" style="--i: 11"></section>
                    <section class="clock__indicator" style="--i: 12"></section>
                    <section class="clock__indicator" style="--i: 13"></section>
                    <section class="clock__indicator" style="--i: 14"></section>
                    <section class="clock__indicator" style="--i: 15"></section>
                    <section class="clock__indicator" style="--i: 16"></section>
                    <section class="clock__indicator" style="--i: 17"></section>
                    <section class="clock__indicator" style="--i: 18"></section>
                    <section class="clock__indicator" style="--i: 19"></section>
                    <section class="clock__indicator" style="--i: 20"></section>
                    <section class="clock__indicator" style="--i: 21"></section>
                    <section class="clock__indicator" style="--i: 22"></section>
                    <section class="clock__indicator" style="--i: 23"></section>
                    <section class="clock__indicator" style="--i: 24"></section>
                    <section class="clock__indicator" style="--i: 25"></section>
                    <section class="clock__indicator" style="--i: 26"></section>
                    <section class="clock__indicator" style="--i: 27"></section>
                    <section class="clock__indicator" style="--i: 28"></section>
                    <section class="clock__indicator" style="--i: 29"></section>
                    <section class="clock__indicator" style="--i: 30"></section>
                    <section class="clock__indicator" style="--i: 31"></section>
                    <section class="clock__indicator" style="--i: 32"></section>
                    <section class="clock__indicator" style="--i: 33"></section>
                    <section class="clock__indicator" style="--i: 34"></section>
                    <section class="clock__indicator" style="--i: 35"></section>
                    <section class="clock__indicator" style="--i: 36"></section>
                    <section class="clock__indicator" style="--i: 37"></section>
                    <section class="clock__indicator" style="--i: 38"></section>
                    <section class="clock__indicator" style="--i: 39"></section>
                    <section class="clock__indicator" style="--i: 40"></section>
                    <section class="clock__indicator" style="--i: 41"></section>
                    <section class="clock__indicator" style="--i: 42"></section>
                    <section class="clock__indicator" style="--i: 43"></section>
                    <section class="clock__indicator" style="--i: 44"></section>
                    <section class="clock__indicator" style="--i: 45"></section>
                    <section class="clock__indicator" style="--i: 46"></section>
                    <section class="clock__indicator" style="--i: 47"></section>
                    <section class="clock__indicator" style="--i: 48"></section>
                    <section class="clock__indicator" style="--i: 49"></section>
                    <section class="clock__indicator" style="--i: 50"></section>
                    <section class="clock__indicator" style="--i: 51"></section>
                    <section class="clock__indicator" style="--i: 52"></section>
                    <section class="clock__indicator" style="--i: 53"></section>
                    <section class="clock__indicator" style="--i: 54"></section>
                    <section class="clock__indicator" style="--i: 55"></section>
                    <section class="clock__indicator" style="--i: 56"></section>
                    <section class="clock__indicator" style="--i: 57"></section>
                    <section class="clock__indicator" style="--i: 58"></section>
                    <section class="clock__indicator" style="--i: 59"></section>
                    <section class="clock__indicator" style="--i: 60"></section>
                </div>
            </div>
        </div>
        <!-- bg img -->
        <img src="/media/hero/red_leaves.jpeg" alt="" class="absolute left-0 top-0 w-full h-full rounded-4xl object-cover">
    </div>
    
    <!-- addresses -->
    <div class="flex gap-4 my-5">
        <div id="address-list-container" class="w-full grid grid-cols-2 justify-between gap-[4%] gap-y-6">
            {% include 'accounts/partials/address_list_partial.html' %}
        </div>
    </div>
    
    <!-- add new button -->
    <div class="relative card w-full min-h-[5rem] justify-center items-center ">
        <button 
            class="absolute botttom-3 m-auto btn btn-square w-[3rem] h-[3rem]"
            onclick="this.blur(); my_modal_1.showModal(); openEmptyAddressForm('create_address_form');"
        >
            <i class="fa-solid fa-circle-plus fa-2xl"></i>
        </button>

    </div>

    <!-- add new 【MODAL】-->
    <dialog id="my_modal_1" class="modal">
        <div class="modal-box relative">
            <h3 class="w-full text-center mt-5 font-bold">Add New Address｜添加新地址</h3>
            <div class="form_wrapper relative w-full flex flex-col modal-action pb-[2rem] px-[3rem] mt-0">
                <!-- form -->
                <div id="create_address_modal_content_area" class="w-full">
                    {% include 'accounts/partials/address_form.html' %}
                </div>
                <!-- close button -->
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute -right-[5px] -top-[50px]" onclick="closeAddressForm('create_address_form')">✕</button>
                </form>
            </div>
        </div>
    </dialog>

    <!-- update 【MODAL】-->
    <dialog id="my_modal_2" class="modal">
        <div class="modal-box relative">
            <h3 class="w-full text-center mt-5 font-bold">Update Address｜更新地址</h3>
            <div class="form_wrapper relative w-full flex flex-col modal-action pb-[2rem] px-[3rem] mt-0">
                <!-- form -->
                <div id="modal_content_area" class="w-full"></div>
                <!-- close button -->
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute -right-[5px] -top-[50px]" onclick="closeAddressForm('update_address_form')">✕</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
