<title>{{ page_title }}</title>

<div id="dashboard_profile" class="subpage">
    <!-- hero -->
    <div class="dashboard_hero w-full min-h-72 rounded-2xl text-white relative flex justify-center items-center">
        <!-- season & date -->
        <div class="flex flex-col z-10 p-5">
            {% if solar_term %}
                <div class="solar-timeline">
                    <div class="flex flex-col">
                        <span id="solar_term" class="text-4xl">{{ solar_term }}</span>
                        <span id="solar_term_en" class="text-[16px]">{{ solar_term_en }}</span>
                    </div>
                    {% if next_solar_term %}
                    <div class="solar-arrow-container">
                        <div class="solar-arrow"></div>
                    </div>
                    <div class="flex flex-col">
                        <span id="next_solar_term" class="text-4xl">{{ next_solar_term }}</span>
                        <span id="next_solar_term_en" class="text-[16px]">{{ next_solar_term_en }}</span>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            <span id="dynamic-date" hx-preserve="true" class="text-sm text-center"></span>
        </div>
        <!-- clock -->
        {% include 'accounts/partials/clock_analog.html' %}
        <!-- bg img -->
        <img src="/media/hero/red_leaves.jpeg" alt="" class="absolute left-0 top-0 w-full h-full rounded-4xl object-cover">
    </div>
    
    <!-- form -->
    <div class="flex flex-col gap-4 my-5">
        <!-- form -->
        <form id="profile_form" method="POST" enctype="multipart/form-data">
            <div class="w-full border border-base-300 rounded-2xl p-5 mb-2">
                <div class="flex w-full flex-col lg:flex-row gap-5">
                    {% csrf_token %}
                    <!-- LEFT -->
                    <div class="w-1/2 lg:p-5 card bg-base-300 rounded-box grid grow place-items-center">
                        <!-- [top] avatar image -->
                        <div class="avatar m-auto pt-5">
                            <div class="w-16 rounded-full border-4 border-solid border-secondary-content">
                                <img class="bg-base-200" src="{{user_profile.profile_picture.url}}" alt="Profile Picture"/>
                            </div>
                        </div>
                        <div class="border-b-1 border-dashed border-primary-content w-full pb-5 text-xs">
                            <fieldset class="fieldset w-4/5 m-auto">
                                <legend class="fieldset-legend text-center text-xs font-light">Change Avatar (Image: square)<br/>更換頭像（圖片：正方形）</legend>
                                {{ profile_form.profile_picture }}
                                <label class="label mx-auto">File size: < 2MB｜檔案：2MB以內</label>
                                <!-- error msg -->
                                {% if "profile_picture" in profile_form_errors %}
                                    <div class="text-error">
                                        {% for error in profile_form_errors.profile_picture %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>
                        <!-- [bottom] name details -->
                        <div class="flex flex-col gap-2 py-5 w-4/5">
                            <!-- Basic Info -->
                            <div class="flex justify-between items-center px-1">
                                <span class="text-xs font-semibold opacity-70">Basic Info｜會員概況</span>
                            </div>
                            <!-- first name -->
                            <label class="input input-border flex w-full items-center gap-2">
                                <i class="fa-solid fa-person"></i>
                                {{ user_form.first_name }}
                            </label>
    
                            <!-- last name -->
                            <label class="input input-border flex w-full items-center gap-2">
                                <i class="fa-solid fa-people-roof"></i> 
                                {{ user_form.last_name }}
                            </label>

                            <!-- username -->
                            <label class="input input-border flex w-full max-w-none items-center gap-2">
                                <i class="fa-solid fa-user"></i>
                                {{ user_form.username }}
                            </label>

                            <!-- Target for HTMX check results -->
                            <div id="username-error" class="-mt-1"></div> 
                            
                            <!-- email -->
                            <label class="input input-border flex w-full max-w-none items-center gap-2">
                                <i class="fa-solid fa-envelope"></i>
                                {{ user_form.email }}
                            </label>

                            <!-- DOB -->
                            <label class="input input-border flex w-full items-center gap-2">
                                <i class="fa-solid fa-cake-candles"></i> 
                                {{ profile_form.dob }}
                            </label>

                            <!-- mobile number -->
                            <div class="join">
                                {{ user_form.mobile_area }}
                                <div class="flex-grow">
                                    <label class="w-full input  join-item">
                                        <i class="fa-solid fa-mobile-screen-button"></i>
                                        {{ user_form.mobile_number }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- RIGHT -->
                    <div class="w-1/2 lg:p-5 card bg-base-300 rounded-box grid grow place-items-center">

                        <!-- address -->
                        <div class="w-4/5 flex flex-col gap-2 py-5 border-b-1 border-dashed border-primary-content ">
                            <div class="flex justify-between items-center px-1">
                                <span class="text-xs font-semibold opacity-70">Address｜地址</span>                              
                                <!-- The Clear Button -->
                                <button id="clear_add_btn" type="button" onclick="clearAddressForm(), preAutoComplete(), initAutoComplete('profile_form')" class="btn btn-ghost btn-xs text-error">
                                    <i class="fa-solid fa-eraser"></i> Clear Address｜清空地址
                                </button>
                            </div>
                            <!-- address_1 -->
                            <label class="input input-border flex items-center gap-2 w-full">
                                <i class="fa-solid fa-map-location-dot shrink-0"></i>
                                <div class="grid flex-1 min-w-0">
                                    {{ address_form.address_line_1 }}
                                </div>
                            </label>          

                            {% if address_form.address_line_1.errors %}
                                <div class="text-error text-xs mt-1 px-2">
                                    {% for error in address_form.address_line_1.errors %}
                                        <p class="-mt-2"><i class="fa-solid fa-triangle-exclamation mr-1"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            <!-- address_2 -->
                            <label class="input input-border flex w-full items-center gap-2">
                                <i class="fa-solid fa-map-location"></i>
                                {{ address_form.address_line_2 }}
                            </label>
                            
                            {% if address_form.address_line_2.errors %}
                                <div class="text-error text-xs mt-1 px-2">
                                    {% for error in address_form.address_line_2.errors %}
                                        <p class="-mt-2"><i class="fa-solid fa-triangle-exclamation mr-1"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
    
                            <!-- city / suburb -->
                            <label class="input input-border flex w-full items-center gap-2">
                                <i class="fa-solid fa-tree-city"></i>
                                {{ address_form.city }}
                            </label>
    
                            {% if address_form.city.errors %}
                                <div class="text-error text-xs mt-1 px-2">
                                    {% for error in address_form.city.errors %}
                                        <p class="-mt-2"><i class="fa-solid fa-triangle-exclamation mr-1"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

    
                            <!-- state (Other Countries) -->
                            <label id="region_field_wrapper" class="input input-border flex w-full items-center gap-2 {% if address_form.country.value == 'CN' %}hidden{% endif %}">
                                <i class="fa-solid fa-map"></i>
                                {{ address_form.state_province_region }}
                            </label>
                            {% if address_form.state_province_region.errors %}
                                <div class="text-error text-xs mt-1 px-2">
                                    {% for error in address_form.state_province_region.errors %}
                                        <p class="-mt-2"><i class="fa-solid fa-triangle-exclamation mr-1"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <!-- China province (Mainland China) -->
                            <label id="china_field_wrapper" class="input input-border w-full items-center gap-2 {% if address_form.country.value == 'CN' %}flex{% else %}hidden{% endif %}">
                                <i class="fa-solid fa-map"></i>
                                {{ address_form.china_province }}
                            </label>
                            {% if address_form.china_province.errors %}
                                <div class="text-error text-xs mt-1 px-2">
                                    {% for error in address_form.china_province.errors %}
                                        <p class="-mt-2"><i class="fa-solid fa-triangle-exclamation mr-1"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
    
                            <!-- country -->
                            <label class="input input-border flex w-full items-center gap-2">
                                <i class="fa-solid fa-globe"></i>
                                {{ address_form.country }}
                            </label>
                            
                            {% if address_form.country.errors %}
                                <div class="text-error text-xs mt-1 px-2">
                                    {% for error in address_form.country.errors %}
                                        <p class="-mt-2"><i class="fa-solid fa-triangle-exclamation mr-1"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
    
                            <!-- zip -->
                            <label class="input input-border flex w-full items-center gap-2">
                                <i class="fa-solid fa-envelopes-bulk"></i>
                                {{ address_form.postal_code }}
                            </label>
    
                            {% if address_form.postal_code.errors %}
                                <div class="text-error text-xs mt-1 px-2">
                                    {% for error in address_form.postal_code.errors %}
                                        <p class="-mt-2"><i class="fa-solid fa-triangle-exclamation mr-1"></i> {{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
    
                            {{ address_form.is_verified_by_google }}
                            {{ address_form.google_place_id }}
                            {{ address_form.latitude }}
                            {{ address_form.longitude }}
                        </div>
    
                        <!-- miscellaneous -->
                        <div class="flex flex-col w-4/5 h-full my-5 text-center gap-2 justify-center">
                            <!-- Basic Info -->
                            <div class="flex justify-between items-center px-1">
                                <span class="text-xs font-semibold opacity-70">etc...｜備注</span>
                            </div>
                            <!-- misc - gender -->
                            {{ profile_form.gender }}
                            <!-- misc - blood -->
                            {{ profile_form.blood_type }}
                            <!-- misc - color -->
                            {{ profile_form.color }}
    
                            <!-- receive newsletter -->
                            <div class="flex items-center gap-1 text-xs lg:text-sm">
                                {{ user_form.receive_newsletter }}
                                <div class="text-xs">Receive Newsletter｜接收時事通訊</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="mt-5 p-7 text-[1.05rem] btn btn-block btn-accent hover:bg-accent-content hover:text-accent hover:border-transparent">更&nbsp;新&nbsp;|&nbsp;UPDATE</button>
        </form>
    </div>
</div>