<title>{{ page_title }}</title>

<div id="dashboard_vouchers" class="subpage">
    <!-- hero -->
    <div class="relative w-full h-[14rem]">
        <img src="/media/hero/red_leaves.jpeg" alt="" class="reel -z-1 absolute left-0 top-0 h-full w-full object-cover">
        <div class="absolute top-[47%] left-[20%]">
            <h2 class="text-5xl text-primary-content">霜降</h2>
        </div>
        <div class="absolute right-8 bottom-12 text-right text-primary-content">
            <div id="dynamic-date"></div>
            <div id="dynamic-clock"></div>
        </div>
    </div>
    
    <!-- RMB -->
    <div>
        <div class="mt-10 flex justify-between">
            <div class="stats shadow">
                <div class="stat">
                    <div class="stat-title">人民幣餘額</div>
                    <div class="flex items-center gap-5">
                        <div class="stat-value">RMB&nbsp;<span class="text-success-content">1,400</span></div>
                        <div class="stat-actions">
                            <button class="btn btn-xs btn-success">充值</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mt-5 p-5 list bg-base-200 rounded-box inset-shadow-sm mb-10 text-secondary gap-5">
            <div class="overflow-x-scroll overflow-y-scroll h-96 w-full">
                <table class="table table-xs table-pin-rows table-pin-cols  w-full">
                    <thead>
                        <tr>
                            <td class="w-[6rem]">日期</td>
                            <td class="w-[15rem]">摘要</td>
                            <td class="w-[5rem]">金額</td>
                            <td class="w-[5rem]">餘額</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2025-10-1</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;800</td>
                        </tr>
                        <tr>
                            <td>2025-09-30</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;900</td>
                        </tr>
                        <tr>
                            <td>2025-09-29</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;1,000</td>
                        </tr>
                        <tr>
                            <td>2025-09-28</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;1,100</td>
                        </tr>
                        <tr>
                            <td>2025-09-27</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;1,200</td>
                        </tr>
                        <tr>
                            <td>2025-09-26</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;1,300</td>
                        </tr>
                        <tr>
                            <td>2025-09-25</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;1,400</td>
                        </tr>
                            <td>2025-09-24</td>
                            <td>使用充值金額RMB100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-RMB&nbsp;100</td>
                            <td>RMB&nbsp;1,500</td>
                        </tr>
                        <tr>
                            <td>2025-09-24</td>
                            <td>充值禮品券金額RMB1,500<br/>禮品券編號XXXXXX</td>
                            <td>RMB&nbsp;1,500</td>
                            <td>RMB&nbsp;1,500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ul>
    </div>
    
    <!-- HKD -->
    <div>
        <div class="mt-10 flex justify-between">
            <div class="stats shadow">
                <div class="stat">
                    <div class="stat-title">港幣餘額</div>
                    <div class="flex items-center gap-5">
                        <div class="stat-value">HKD&nbsp;<span class="text-success-content">1,400</span></div>
                        <div class="stat-actions">
                            <button class="btn btn-xs btn-success">充值</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mt-5 p-5 list bg-base-200 rounded-box inset-shadow-sm mb-10 text-secondary gap-5">
            <div class="overflow-x-scroll overflow-y-scroll h-96 w-full">
                <table class="table table-xs table-pin-rows table-pin-cols  w-full">
                    <thead>
                        <tr>
                            <td class="w-[6rem]">日期</td>
                            <td class="w-[15rem]">摘要</td>
                            <td class="w-[5rem]">金額</td>
                            <td class="w-[5rem]">餘額</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2025-10-1</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;800</td>
                        </tr>
                        <tr>
                            <td>2025-09-30</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;900</td>
                        </tr>
                        <tr>
                            <td>2025-09-29</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;1,000</td>
                        </tr>
                        <tr>
                            <td>2025-09-28</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;1,100</td>
                        </tr>
                        <tr>
                            <td>2025-09-27</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;1,200</td>
                        </tr>
                        <tr>
                            <td>2025-09-26</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;1,300</td>
                        </tr>
                        <tr>
                            <td>2025-09-25</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;1,400</td>
                        </tr>
                            <td>2025-09-24</td>
                            <td>使用充值金額HKD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-HKD&nbsp;100</td>
                            <td>HKD&nbsp;1,500</td>
                        </tr>
                        <tr>
                            <td>2025-09-24</td>
                            <td>充值禮品券金額HKD1,500<br/>禮品券編號XXXXXX</td>
                            <td>HKD&nbsp;1,500</td>
                            <td>HKD&nbsp;1,500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ul>
    </div>
    
    <!-- AUD -->
    <div>
        <div class="mt-10 flex justify-between">
            <div class="stats shadow">
                <div class="stat">
                    <div class="stat-title">澳幣餘額</div>
                    <div class="flex items-center gap-5">
                        <div class="stat-value">AUD&nbsp;<span class="text-success-content">1,400</span></div>
                        <div class="stat-actions">
                            <button class="btn btn-xs btn-success">充值</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mt-5 p-5 list bg-base-200 rounded-box inset-shadow-sm mb-10 text-secondary gap-5">
            <div class="overflow-x-scroll overflow-y-scroll h-96 w-full">
                <table class="table table-xs table-pin-rows table-pin-cols  w-full">
                    <thead>
                        <tr>
                            <td class="w-[6rem]">日期</td>
                            <td class="w-[15rem]">摘要</td>
                            <td class="w-[5rem]">金額</td>
                            <td class="w-[5rem]">餘額</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2025-10-1</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;800</td>
                        </tr>
                        <tr>
                            <td>2025-09-30</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;900</td>
                        </tr>
                        <tr>
                            <td>2025-09-29</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;1,000</td>
                        </tr>
                        <tr>
                            <td>2025-09-28</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;1,100</td>
                        </tr>
                        <tr>
                            <td>2025-09-27</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;1,200</td>
                        </tr>
                        <tr>
                            <td>2025-09-26</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;1,300</td>
                        </tr>
                        <tr>
                            <td>2025-09-25</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;1,400</td>
                        </tr>
                            <td>2025-09-24</td>
                            <td>使用充值金額AUD100於<br/>訂單號XXX-XXX-XX</td>
                            <td>-AUD&nbsp;100</td>
                            <td>AUD&nbsp;1,500</td>
                        </tr>
                        <tr>
                            <td>2025-09-24</td>
                            <td>充值禮品券金額AUD1,500<br/>禮品券編號XXXXXX</td>
                            <td>AUD&nbsp;1,500</td>
                            <td>AUD&nbsp;1,500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ul>
    </div>
</div>