{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- BANNER -->
    <div class="relative mt-16 w-full">
        {% include 'includes/banner.html' %}
    </div>

    <!-- CONTENTS -->
    <div class="px-[max(1rem,5vw)] py-10 mb-30 grid sm:grid-cols-3 lg:grid-cols-7 gap-4 sm:columns-3 sm:gap-8">
        <!-- sidebar -->
        {% include 'includes/dashboard_sidebar.html' %}
        <!-- dashboard main -->
        <div class="relative sm:col-span-2 lg:col-span-5">

            <!-- main contents -->
            {% block accounts_content %}
                
            {% endblock %}

        </div>
    </div>

<script>
// ***** clock *****
function updateClock() {
    const userLanguage = navigator.language; // e.g., "en-US"
    const now = new Date();
    const formattedDate = now.toLocaleString(userLanguage, {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
    });
    const formattedTime = now.toLocaleString(userLanguage, {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
    });
    document.getElementById('dynamic-date').textContent = formattedDate;
    document.getElementById('dynamic-clock').textContent = formattedTime;
}

// Update the clock every second
setInterval(updateClock, 1000);

// Initial call to display the clock immediately
updateClock();
</script>

{% endblock %}
