{% extends 'accounts/dashboard_base.html' %}

{% block accounts_content %}
<!-- hero -->
<div class="relative h-[14rem]">
    <img src="/media/hero/red_leaves.jpeg" alt="" class="reel -z-1 absolute left-0 top-0 h-full w-full object-cover">
    <div class="absolute top-[47%] left-[20%]">
        <h2 class="text-5xl text-primary-content">霜降</h2>
    </div>
    <div class="absolute right-8 bottom-12 text-right text-primary-content">
        <div id="dynamic-date"></div>
        <div id="dynamic-clock"></div>
    </div>
</div>

<!-- contents -->
<div class="flex gap-4 my-5">

    <!-- LEFT - Summary -->
    <div class="flex flex-col gap-5 w-5/7">
        <!-- stats -->
        <div class="stats shadow w-full">
            <a href="{% url 'orders' %}" class="stat">
                <div class="cursor-pointer stat-figure text-secondary-content text-2xl">
                    <i class="fa-solid fa-circle-info"></i>
                </div>
                <div class="stat-title">已購寶貝件數</div>
                <div class="stat-value">
                    3&nbsp;件
                    <div class="stat-desc font-light">2025年</div>
                </div>
            </a>

            <a href="{% url 'vouchers' %}" class="stat">
                <div class="cursor-pointer stat-figure text-secondary-content text-2xl">
                    <i class="fa-solid fa-coins"></i>
                </div>
                <div class="stat-title">禮品券總額</div>
                <div>
                    <div class="stat-value">
                        50
                        <div class="stat-desc font-light">RMB</div>
                    </div>
                </div>
                <div>
                    <div class="stat-value">
                        200
                        <div class="stat-desc font-light">HKD</div>
                    </div>
                </div>
            </a>

            <a href="{% url 'help' %}" class="stat">
                <div  class="cursor-pointer stat-figure text-secondary-content text-2xl">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="stat-title">未讀客服訊息</div>
                <div class="stat-value">
                    17則
                    <div class="stat-desc font-light">17 / 39</div>
                </div>
            </a>
        </div>

        <!-- latest order status -->
        <div class="flex gap-3">
            <!-- order status timeline -->
            <ul class="timeline timeline-vertical w-1/3 text-left py-[1rem]">
                <!-- order processed -->
                <li>
                    <div class="timeline-start"><i class="fa-solid fa-list-check"></i></div>
                    <div class="timeline-middle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="text-primary h-5 w-5"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="timeline-end text-xs py-3 font-bold">訂單已處理</div>
                    <hr class="bg-primary" />
                </li>
                <!-- shipped -->
                <li>
                    <hr class="bg-primary" />
                    <div class="timeline-end"><i class="fa-solid fa-truck-ramp-box"></i></div>
                    <div class="timeline-middle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="text-primary h-5 w-5"
                        >
                            <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="timeline-start text-xs py-3 font-bold">物品已發送</div>
                    <hr class="bg-primary" />
                </li>
                <!-- en-route -->
                <li>
                    <hr class="bg-primary" />
                    <div class="timeline-start"><i class="fa-solid fa-truck-fast"></i></div>
                    <div class="timeline-end text-xs py-3 font-bold">正在運輸中</div>
                    <div class="timeline-middle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="text-primary h-5 w-5"
                        >
                            <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <hr />
                </li>
                <!-- delivered -->
                <li>
                    <hr />
                    <div class="timeline-end"><i class="fa-solid fa-person-chalkboard text-base-300"></i></div>
                    <div class="timeline-start text-xs py-3 font-bold text-base-300">已送達</div>
                    <div class="timeline-middle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="text-base-300 h-5 w-5"
                        >
                            <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                </li>
            </ul>

            <!-- order summary -->
            <div class="card w-96 bg-base-200 shadow-sm">
                <div class="card-body">
                    <div class="text-lg flex justify-between w-full font-bold">訂單號碼# 134afdkl32kjgaopaore </div>
                    <div class="text-xs flex justify-start w-full">
                        訂單日期：2025年11月25日
                        <br/>
                        預計送達：2025年12月1日
                        <br/>
                        快遞單號：UPS 123443590345
                    </div>
                    <ul class="mt-6 flex flex-col gap-2 text-xs">
                        <li class="flex justify-between"><span>產品/服務總金額</span><span>RMB 1,700</span></li>
                        <li class="flex justify-between"><span>運費</span><span>RMB 100</span></li>
                    </ul>
                    <hr class="text-primary"/>
                    <div class="flex justify-between w-full">
                        <h2 class="text-[1.5rem]] font-bold">總金額:</h2>
                        <h2 class="text-[1.5rem]] font-bold">RMB 1,800</h2>
                    </div>
                    <div class="mt-6">
                    <button class="btn btn-primary btn-block">查 看 明 細</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- if no latest order, display a bubble scene -->
        <div class="divider text-2xl">如果目前沒有進行中訂單👇</div>
        <div class="relative bubble-wrapper rounded-2xl shadow w-full h-80">
            <h2 class="text-neutral-content absolute left-1/2 top-1/2 -translate-1/2 text-2xl">
                <i class="fa-solid fa-clipboard-list"></i>
                目前暫無未完訂單
            </h2>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
            <div><span class="dot"></span></div>
        </div>
    </div>

    <!-- RIGHT - FAQs -->
    <div class="w-2/7 join join-vertical bg-base-100 text-xs">
        <div class="collapse collapse-arrow join-item bg-base-100 border-base-300 border">
            <input type="checkbox" />
            <div class="collapse-title font-semibold">可以訂製常規產品之外的產品嗎？</div>
            <div class="collapse-content">
                可以協商的，具體內容請進入【客服熱線】頁面發送諮詢至本店。
            </div>
        </div>
        <div class="collapse collapse-arrow join-item bg-base-100 border-base-300 border">
            <input type="checkbox" />
            <div class="collapse-title font-semibold">如何更換會員頭像？</div>
            <div class="collapse-content">
                請點擊並進入【會員檔案】頁面進行修改更新。
            </div>
        </div>
        <div class="collapse collapse-arrow join-item bg-base-100 border-base-300 border">
            <input type="checkbox" />
            <div class="collapse-title font-semibold">不同的優惠券可以同時使用嗎？</div>
            <div class="collapse-content">
                抱歉每一次的購買訂單僅限使用一張優惠券。
            </div>
        </div>
        <div class="collapse collapse-arrow join-item bg-base-100 border-base-300 border">
            <input type="checkbox" />
            <div class="collapse-title font-semibold">可以用不同的幣種購物嗎？</div>
            <div class="collapse-content">
                抱歉，每一次訂單僅限使用一種貨幣。如果您有特殊需求的話請進入【客服熱線】頁面與本店人工客服洽商。
            </div>
        </div>
        <div class="collapse collapse-arrow join-item bg-base-100 border-base-300 border">
            <input type="checkbox" />
            <div class="collapse-title font-semibold">可以開發票嗎？</div>
            <div class="collapse-content">
                若有需求，請聯繫客服。
            </div>
        </div>
    </div>

</div>
{% endblock %}