{% extends 'base.html' %}

{% block content %}
<!-- BANNER -->
<div class="relative mt-16 w-full">
    {% include 'includes/banner.html' %}
</div>

<!-- MAIN -->
<main class="px-[max(1rem,5vw)] lg:px-[max(2rem,10vw)] xl:px-[max(3rem,20vw)] py-20 min-h-[calc(100dvh-200px)]">
    <!-- article + righ-side-bar -->
    <div class="grid grid-cols-3 gap-8">
        <!-- LEFT: article -->
        <article class="col-span-2 text-info-content">
            <!-- title -->
            <div class="text-2xl font-black mb-5">
                還路止清它要間外上王
            </div>
            <!-- thumbnail + sub-title -->
            <div class="relative bg-[url(/static/hero/tulip.svg)] w-full aspect-video p-20 mb-2">
                <div class="absolute right-5 bottom-5 text-xs text-right w-2/3 bg-white/30 backdrop-blur-none p-2 rounded-sm">
                    每發可或弟着借第告采進蛋丟瓜石犬几合還尼，
                    我黃由美且害筆黃六它年乙娘起每白未乍：化法言綠象「得」香意登，
                    西物河公竹種荷冰食合天草送過，的秋扒，走把安金哭追。
                </div>
            </div>
            <!-- date | location -->
            <div class="flex text-xs items-center">
                <i class="fa-solid fa-pen-to-square"></i><span>2025-12-1&nbsp;|&nbsp;</span>
                <i class="fa-solid fa-location-dot"></i><span>Beijing, China</span>
            </div>
            <!-- tags -->
            <div class="flex gap-1 my-2">
                <div class="badge badge-xs badge-accent badge-ghost">治癒系</div>
                <div class="badge badge-xs badge-accent badge-ghost">野外模式</div>
                <div class="badge badge-xs badge-accent badge-ghost">產品介紹</div>
            </div>
            <!-- content (rich-text) -->
            <div class="py-3 flex flex-col gap-4">
                <p>
                    采久百荷各向瓜會主男昔刀頁荷六嗎裏，喜免三幼巾月候苗鴨汁未青親道相未，
                    禾元訴文相婆石，抄和羊家、象尤波象，少尺男耍來時得。怪也兩課氣。新去點、吹方園斥哭！耍汗白司訴跑。
                </p>
                <p>
                    還路止清它要間外上王、把穿每着物東，走九習錯中着告鳥位空還衣候火祖布小旁科：以即田車。心加卜貝石兩很麻果和或。
                    豆青福九外室呀：珠羽現幾自五刃行。追爸波元找習包會友。固樹乾可。
                </p>
                <figure class="diff aspect-16/9" tabindex="0">
                <div class="diff-item-1" role="img" tabindex="0">
                    <img alt="daisy" src="https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp" />
                </div>
                <div class="diff-item-2" role="img">
                    <img
                    alt="daisy"
                    src="https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a-blur.webp" />
                </div>
                <div class="diff-resizer"></div>
                </figure>
                <div class="*:bg-base-content mt-4 flex h-36 items-end gap-2 *:w-full *:rounded-sm">
                    <div style="height: 10%"></div> 
                    <div style="height: 20%"></div> 
                    <div style="height: 10%"></div> 
                    <div style="height: 25%"></div> 
                    <div style="height: 22%"></div> 
                    <div style="height: 15%"></div> 
                    <div style="height: 20%"></div> 
                    <div style="height: 35%"></div> 
                    <div style="height: 40%"></div> 
                    <div style="height: 45%"></div> 
                    <div style="height: 30%"></div> 
                    <div style="height: 35%"></div> 
                    <div style="height: 60%"></div> 
                    <div style="height: 65%"></div> 
                    <div style="height: 80%"></div> 
                    <div style="height: 90%"></div>
                </div>
            </div>
        </article>

        <!-- RIGHT: sidebar -->
        {% include 'includes/blog_sidebar.html' %}
    </div>
    
    <!-- recommended read -->
    <div class="w-full grid grid-cols-2 gap-10 md:gap-30 mt-10 mb-15">
        <!-- prev -->
        <!-- <div class="col-span-1 card bg-base-100 image-full shadow-sm"> -->
        <div class="col-span-1 card bg-base-100 card-xs md:card-md image-full shadow-sm">
            <figure>
                <img
                src="/static/hero/tulip.svg"
                alt="Shoes" />
            </figure>
            <div class="card-body p-5 md:p-10">
                <h2 class="card-title">雄娘荷苗刀片活秋裏原？</h2>
                <p class="text-xs">耳心色交金古後科何起遠門畫具朱了、是位兒才尺百常出背封眼星連牛上，停甲怪飛是手車「弟紅」王隻兌到</p>
                <div class="card-actions justify-start">
                    <button class="btn btn-primary">閱 讀</button>
                </div>
            </div>
        </div>

        <!-- next -->
        <div class="col-span-1 card bg-base-100 card-xs md:card-md image-full shadow-sm">
            <figure>
                <img
                src="/static/hero/tulip.svg"
                alt="Shoes" />
            </figure>
            <div class="card-body p-5 md:p-10">
                <h2 class="card-title">雄娘荷苗刀片活秋裏原？</h2>
                <p class="text-xs">耳心色交金古後科何起遠門畫具朱了、是位兒才尺百常出背封眼星連牛上，停甲怪飛是手車「弟紅」王隻兌到</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">閱 讀</button>
                </div>
            </div>
        </div>


    </div>

</main>

{% endblock %}