{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="relative mt-16 w-full h-[calc(100dvh-64px)] ">
    <!-- BG_IMAGE -->
    <img src="/media/hero/tulip.svg" alt="" class="w-full h-full object-cover">

    <!-- CONTENTS -->
    <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center">
        <!-- title -->
        <h1 class="text-5xl text-primary-content text-shadow-lg text-shadow-base-300 mb-5">
            重 設 密 碼
            <i class="fa-solid fa-key"></i>
        </h1>
        {% include 'includes/alerts.html' %}
        <!-- form -->
        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <fieldset class="fieldset bg-primary-content border-base-300 rounded-box w-sm border p-4">

                <label class="label">新密碼 New Password</label>
                <!-- <input name="password1" type="password" class="input w-full" placeholder="Password" /> -->
                {{ form.new_password1 }}

                <label class="label">確認密碼 Confirm Password</label>
                <!-- <input name="password2" type="password" class="input w-full" placeholder="Confirm Password" /> -->
                {{ form.new_password2 }}

                <button type="submit" class="btn btn-neutral mt-4">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;設</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}