option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  02_create_static_dir:
    command: "mkdir -p /var/app/current/staticfiles"
  03_fix_permissions:
    command: "chmod -R 755 /var/app/current/staticfiles"
  04_fix_ownership:
    command: "chown -R webapp:webapp /var/app/current/staticfiles"