commands:
  01_install_nodejs:
    command: "yum install -y nodejs npm"
container_commands:
  01_pip_install:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt"
  02_npm_install:
    command: "npm install"
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"