option_settings:
   aws:elasticbeanstalk:container:python:
     WSGIPath: xindeng.wsgi:application
   aws:elasticbeanstalk:application:environment:
     DJANGO_SETTINGS_MODULE: xindeng.settings

packages:
  yum:
    nodejs: []
    npm: []

container_commands:
  01_npm_install:
    command: "npm install"
  02_npm_build:
    command: "npm run build"
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"