option_settings:
   aws:elasticbeanstalk:container:python:
     WSGIPath: xindeng.wsgi:application
   aws:elasticbeanstalk:application:environment:
     DJANGO_SETTINGS_MODULE: xindeng.settings
     SECRET_KEY: "django-insecure-b7wktp&sp03@7-6euen%*!j%pre2fo)rlzr(1i*xe6%o=p6qwk"
     DEBUG: "False"
   aws:elasticbeanstalk:environment:proxy:staticfiles:
     /static: staticfiles
