{% load humanize %}
    <!-- physical items row -->
    <tr id="physical_items_row" class="font-normal {% if not has_physical_items %}hidden{% endif %}">
        <td class="py-1 text-left text-xs/4">Physical Products<br>實物商品小計</td>
        <td class="py-1 mr-2 text-right text-sm">
            <span id="physical_products_total">
                ¥&nbsp;{{ physical_products_total|default:"0.00" }}
            </span>
        </td>
        <td class="py-1 text-right text-info-content text-sm">
            <span id="physical_products_total_foreign">
                {{ foreign_currency_symbol }}&nbsp;
                {{ physical_products_total_foreign }}
            </span>
        </td>
    </tr>
    
    <!-- shipping cost -->
    <tr id="shipping_cost_row" class="font-normal {% if not has_physical_items %}hidden{% endif %}">
        <td class="py-1 text-left text-xs/4">Shipping<br>運費</td>
        <td class="py-1 mr-2 text-right text-sm">
            <span id="summary-shipping">
                ¥&nbsp;{{ shipping_cost|default:"0.00" }}
            </span>
        </td>
        <td class="py-1 text-right text-info-content text-sm">
            <span id="shipping_cost_amount_foreign">
                {{ foreign_currency_symbol }}&nbsp;
                {{ shipping_cost_foreign }}
            </span>
        </td>
    </tr>
    
    <!-- e-products subtotal -->
    <tr id="e_items_row" class="font-normal {% if not has_e_items %}hidden{% endif %}">
        <td class="py-1 text-left text-xs/4">eProducts<br>電子商品小計</td>
        <td class="py-1 mr-2 text-right text-sm">
            <span id="e_products_total">
                ¥&nbsp;{{ e_products_total|default:"0.00" }}
            </span>
        </td>
        <td class="py-1 text-right text-info-content text-sm">
            <span id="e_products_total_foreign">
                {{ foreign_currency_symbol }}&nbsp;
                {{ e_products_total_foreign }}
            </span>
        </td>
    </tr>
    
    <!-- Offer row -->
    <tr id="offer_row" class="font-normal {% if not has_physical_items and not has_e_items %}hidden{% endif %}">
        <td class="py-1 text-left text-xs/4">Offer<br>優惠</td>
        <td class="py-1 mr-2 text-right text-sm">
            <span id="summary-discount">
                ¥&nbsp;({{ offer_applied }})
            </span>
        </td>
        <td class="py-1 text-right text-info-content text-sm">
            <span id="discount_amount_foreign">
                {{ foreign_currency_symbol }}&nbsp;
                ({{ offer_applied_foreign }})
            </span>
        </td>
    </tr>
    
    <!-- cash voucher application row -->
    <tr id="voucher_apply_row" class="font-normal 
        {% if not has_physical_items and not has_e_items or not request.user.is_authenticated %}
            hidden
        {% endif %}"
    >
        <td class="py-1 text-left text-xs/4">Voucher Applied<br>禮品券適用金額</td>
        <td class="py-1 mr-2 text-right text-sm">
            <span id="summary_voucher_applied">
                ¥&nbsp;({{ voucher_applied }})
            </span>
        </td>
        <td class="py-1 text-right text-info-content text-sm">
            <span id="summary_voucher_applied_foreign">
                {{ foreign_currency_symbol }}&nbsp;
                ({{ voucher_applied_foreign }})
            </span>
        </td>
    </tr>

    <!-- cash voucher purchase -->
    <tr id="voucher_items_row" class="font-normal {% if not has_cash_voucher_items %}hidden{% endif %}">
        <td class="py-1 text-left text-xs/4">Voucher Purchase<br>禮品券購買金額</td>
        <td class="py-1 mr-2 text-right text-sm">
            <span id="voucher_purchase_total">
                ¥&nbsp;{{ voucher_products_total }}</span>
        </td>
        <td class="py-1 text-right text-info-content text-sm">
            <span id="voucher_purchase_total_foreign">
                {{ foreign_currency_symbol }}&nbsp;
                {{ voucher_products_total_foreign }}
            </span>
        </td>
    </tr>

    <!-- total amount -->
    <tr class="font-semibold text-sm">
        <td class="py-1 text-left">Total Due<br>總支付金額</td>
        <td class="py-1 mr-2 text-right">
            <span id="total_payable_amount">
                ¥&nbsp;{{ total_payable }}</span>
            <div hx-get="{% url 'reset_shipping_fragment' %}" hx-trigger="refresh_shipping from:body" hx-swap="none"></div>
        </td>
        <td class="py-1 text-right text-info-content">
            <span id="total_payable_amount_foreign">
                {{ foreign_currency_symbol }}&nbsp;
                {{ total_payable_foreign }}
            </span>
        </td>
    </tr>
