/* navbar */
#navbar {
    transition: background-color 0.5s ease;
}
.scrolled-background {
    background-color: transparent; /* New background color on scroll */
}

/* vertical carousel frame */
.v-calrousel-frame {
    --s: 10px;
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

/* swiper */
.swiper {
    width: 100%;
}
.swiper-btn-prev,
.swiper-btn-next {
    position: absolute;
    /* width: 3rem;
    height: 3rem; */
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-content);
    top: 50%;
    transform: translateY(-50%);
}
.swiper-btn-next {
    right: 5px;
}
.swiper-btn-prev {
    left: 5px;
}
.swiper-pagination-bullet-active {
    background: var(--color-primary, var(--color-primary)) !important;
}

/* scroll */
html {
  scroll-behavior: smooth;
}

/* ribbon */
.ribbon-wrapper {
display: block;
position: relative;
box-sizing: border-box;
}

.ribbon-content {
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
}

.ribbon {
    display: inline-block;
    position: absolute;
    padding: 7px 0;
    right: -34px;
    top: 29px;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    /* background: #ffa520;
    color: #fff; */
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* switch selection */
.switch { 
    position: relative; 
    display: inline-block; 
    width: 4rem; 
    height: 4rem; 
}
.switch input { 
    opacity: 0; 
    width: 0; 
    height: 0; 
}
.switch-img { 
    position: absolute; 
    cursor: pointer; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 4rem; 
    height: 4rem
}
input:checked + .switch-img { 
    border: solid 2px green; 
}
input:checked + .switch-img:before { 
    border: none; 
}

/* ##### rating stars ##### */
/* Hide Radio Button */
.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label {
  float: right;
}

/* Showing the stars */
.rate > label:before {
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin: 0;
  padding: 0.3rem .2rem;
  cursor: pointer;
  /* color: transparent; */
}

/* Half star */
.rate .half:before {
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label {
  color: #ffb503;
}

/* hover highlight */
input:checked + label:hover, 
input:checked ~ label:hover, 
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label
{
  color: #ffb503;
}

/* rating */
.rating-star i {
  color: #ffb503;
}

/* ##### dashboard hero frame ##### */
.reel {
  display: block;
  background: var(--color-neutral-content);
  border: 14px dotted var(--color-base-content);
  line-height: 1;
  padding: 30px 10px;
}

/* ##### dashboard bubble scene ##### */
.bubble-wrapper {
  background: linear-gradient(180deg, var(--color-base-100), 5%, var(--color-base-200), 50%, var(--color-base-300));
}
.bubble-wrapper div {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(0, 178, 254, 0.7);
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  border-radius: 50px;
  position: absolute;
}
.bubble-wrapper > div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  /* background: rgba(255, 255, 255, 0.5); */
  background: var(--color-info);
  position: absolute;
  top: 20%;
  right: 20%;
}
.bubble-wrapper div:last-child {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.bubble-wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.bubble-wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.bubble-wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.bubble-wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.bubble-wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.bubble-wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.bubble-wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.bubble-wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.bubble-wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.bubble-wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.bubble-wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.bubble-wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.bubble-wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.bubble-wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

/* ##### hide number arrows for number input ##### */
/* For WebKit browsers (Chrome, Safari, Edge) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Optional: Adjust margin if needed */
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Selection Color */
body::selection {
  color: var(--color-info-content);
  background-color: var(--color-primary-content);
}

/* Sweet Alert */
.swal2-popup {
  z-index: 10000;
}

/* Barcode */
.libre-barcode-128-regular {
  font-family: "Libre Barcode 128", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Coupon */
.coupon {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: stretch;
  position: relative;
  text-transform: uppercase;
}
.coupon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.coupon1::before {
  right: 0;
  background-image: 
    url(/static/hero/purpleFlower.svg);
}
.coupon2::before {
  right: 0;
  background-image:
    url(/static/hero/tulip.svg);
}
.coupon3::before {
  right: 0;
  background-image:
    url(/static/hero/lavendar.svg);
}

.coupon > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 20%;
  border-right: 2px dashed rgba(0, 0, 0, 0.13);
}
.left div {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-weight: bold;
}
.center {
  flex-grow: 1;
  text-align: center;
}
.right {
  width: 120px;
  background-image: radial-gradient(
    circle at 100% 50%,
    transparent 25px,
    #fff 26px
  );
}
.right div {
  font-weight: 400;
}
.center h2 {
  background: #000;
  color: gold;
  padding: 0 10px;
  font-size: 1.5rem;
  white-space: nowrap;
}
.center h3 {
  font-size: 2.15rem;
}
.center small {
  font-size: 0.625rem;
  font-weight: 600;
  letter-spacing: 2px;
}
@media screen and (max-width:500px){
  .coupon {
    display:grid;
    grid-template-columns:1fr;
  }
  .left div {
    transform: rotate(0deg);
  }
  .right div {
    transform: rotate(0deg);
  }
}

.firework_gl {
  /* width: 100%;
  height: 100dvh; */
  outline: none;
  margin-top: 65px;
}

