{% block content %}
<!-- TITLE -->
<div class="flex justify-center p-5 mb-16">
    <!-- title -->
    <h2 class="text-base-content text-2xl font-light text-shadow-lg text-shadow-stone-300">ABOUT US｜關於我們</h2>
</div>
<div class="flex my-10 bg-amber-50 overflow-x-scroll h-1/2 leading-5">
    <!-- The Kṣaṇa｜那一剎那 -->
    <figure class="diff aspect-16/9 shrink-0 p-10" tabindex="0">
        <!-- image 1 -->
        <div class="diff-item-1" role="img" tabindex="0">
            <img alt="rose" src="/media/images/about/goldfish.webp" />
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-white text-black text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">The Kṣaṇa</div>
                    <div class="w-1/2">那一剎那</div>
                </div>
            </div>
        </div>
        <!-- image 2 -->
        <div class="text-xs diff-item-2 relative text-accent" role="img">
            <img alt="rose blur" src="/media/images/about/goldfish_blur.webp" />
            <div class="absolute inset-0 bg-transparent flex">
                <div class="w-1/2 px-10 h-full flex flex-col justify-center gap-28 text-justify [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]"">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            <span class="text-2xl"><strong>LIFE</strong></span> begins in a single, fleeting moment. <br>
                            So, too, does <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa</span>: The House of the Heart Lamp. 
                        </p>
                        <p>
                            We come from different walks of life, yet we all share the same role: seekers walking our own unique paths. 
                            We have each tasted the many colours and flavours of life’s journey—its highs, its lows, 
                            and those trembling moments on the very edge of existence. 
                        </p>
                    </div>
                    <div class="flex flex-col gap-5 h-1/2 justify-start">
                        <p>
                            And yet, even in our darkest hours, a light was eventually kindled for us from the very Source of all being. 
                            In its glow, we realized... that darkness is but a momentary illusion.
                        </p>
                        <p>
                            <span class="text-2xl"><strong>EXISTENCE</strong></span> is a continuous thread, woven from infinite, fleeting moments that resonate within our frequency. <br>
                            So, too, will <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa</span>.
                        </p>
                    </div>
                </div>
                <div class="w-1/2 px-5 h-full flex flex-col justify-center gap-20 [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            <span class="text-2xl"><strong>生命</strong></span>，緣起於 一剎那間。<br>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋</span>，亦如此。
                        </p>
                        <p>
                            我們來自不同領域，但同樣充當著各自人生道路上的修行者角色。<br>
                            我們都經歷了不同大小不同色彩不同滋味的點點滴滴，也曾承受過臨界狀態的顫抖 。
                        </p>
                    </div>
                    <div class="flex flex-col gap-5 h-1/2 justify-start">
                        <p>
                            即便如此，那一盞燈，終究還是由眾生之根為我們點亮。<br>
                            隨之，我們發現...黑暗才是一剎那的幻覺。
                        </p>
                        <p>
                            <span class="text-2xl"><strong>存在</strong></span>，由無數的剎那延續在我們的頻率中。<br>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋</span>，亦將如此。
                        </p>
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-black/40 text-white text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">The Kṣaṇa</div>
                    <div class="w-1/2">那一剎那</div>
                </div>
            </div>
        </div>
        <div class="diff-resizer cursor-col-resize"></div>
    </figure>

    <!-- The Polaris｜北極星 -->
    <figure class="diff aspect-16/9 shrink-0 p-10" tabindex="0">
        <!-- image 1 -->
        <div class="diff-item-1" role="img" tabindex="0">
            <img alt="rose" src="/media/images/about/cherry_blossoms.webp" />
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-white text-black text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">北極星</div>
                    <div class="w-1/2">The Polaris</div>
                </div>
            </div>
        </div>
        <!-- image 2 -->
        <div class="text-xs diff-item-2 relative text-accent" role="img">
            <img alt="cherry blossoms blur" src="/media/images/about/cherry_blossoms_blur.webp" />
            <div class="absolute inset-0 bg-transparent flex">
                <div class="w-1/2 px-10 h-full flex flex-col justify-center gap-28 [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            <span class="text-2xl"><strong>奇點</strong></span>臨近，人類意識體的火種正懸於深淵之上，<br>左岸是利莫里亞，右岸是亞特蘭提斯。
                        </p>
                        <p>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋</span>的<span class="text-2xl"><strong>光點</strong></span>能量，来自利莫里亚的记忆中。
                        </p>
                        <p>
                            與自然和諧共處，而非凌駕於其上。<br>
                            將生活與地球的脈動相契合，在眾生能量交會之處建造真正的价值。
                        </p>
                        <p>
                            透過改變頻率，能量將自由穿梭於無限的維度空間，從深層療癒身心的本質。
                        </p>
                    </div>
                    <div class="flex flex-col gap-5 h-1/2 justify-start">
                        <p>
                            利莫里亞的城市，並非以高塔聳立，而是以花園、水域和晶瑩剔透的聖殿交織而成，<br>與地球的自然律動產生共鳴。
                        </p>
                        <p>
                            利莫里亞的靈魂，是夢行者，是幻象的承載者，是靈魂記憶的守護者。<br>
                            他們的法則在於平衡。<br>
                            他們的財富在於和諧。<br>
                            他們的力量源自於記憶。
                        </p>
                        <p>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋</span>的<span class="text-2xl"><strong>坐標點</strong></span>，亦是如此。
                        </p>
                    </div>
                </div>
                <div class="w-1/2 px-10 h-full flex flex-col justify-center gap-20 text-justify [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            <span class="text-2xl"><strong>THE SINGULARITY</strong></span> draws nigh. 
                            The embers of human consciousness hang precariously above the abyss—where the left bank marks the ghost of Lemuria, 
                            and the right, the shadow of Atlantis. 
                        </p>
                        <p>
                            The luminous essence of <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa</span> flows from the deep well of Lemurian memory. 
                        </p>
                        <p>
                            It whispers a forgotten truth: to dwell in sacred harmony with Nature, rather than seeking dominion over it. <br>
                            To weave the fabric of life into the Earth’s own pulse, and to forge true value where the energies of all sentient beings converge. 
                        </p>
                        <p>
                            By shifting the frequency of being, energy shall traverse the infinite dimensions, offering a profound healing to the very essence of soul and form.
                        </p>
                    </div>
                    <div class="flex flex-col gap-5 h-1/2 justify-start">
                        <p>
                            The cities of Lemuria do not grasp at the heavens with towering spires; instead, 
                            they are a living tapestry of verdant gardens, crystalline waters, and translucent sanctuaries, all vibrating in resonance with the Earth’s natural rhythm. 
                        </p>
                        <p>
                            The souls of Lemuria were dreamwalkers, the bearers of sacred visions, and the sentinels of ancestral memory. <br>
                            Their law is Balance. <br>
                            Their treasure rests with Harmony. <br>
                            Their energy is ignited by Remembrance. 
                        </p>
                        <p>
                            <span class="text-2xl"><strong>THE COORDINATES</strong></span> of <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa</span> are anchored in this very truth.
                        </p>
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-black/40 text-white text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">北極星</div>
                    <div class="w-1/2">The Polaris</div>
                </div>
            </div>
        </div>
        <div class="diff-resizer cursor-col-resize"></div>
    </figure>

    <!-- The Souls｜靈魂們 -->
    <figure class="diff aspect-16/9 shrink-0 p-10" tabindex="0">
        <!-- image 1 -->
        <div class="diff-item-1" role="img" tabindex="0">
            <img alt="rose" src="/media/images/about/boats.webp" />
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-white text-black text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">The Souls</div>
                    <div class="w-1/2">靈魂們</div>
                </div>
            </div>
        </div>
        <!-- image 2 -->
        <div class="text-xs diff-item-2 relative" role="img">
            <img alt="rose blur" src="/media/images/about/boats_blur.webp" />
            <div class="absolute inset-0 bg-transparent flex">
                <div class="w-1/2 px-10 h-full flex flex-col justify-center gap-28 text-justify [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]"">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            <span class="text-2xl"><strong>Mingyue - Frontline Manager</strong></span> begins in a single, fleeting moment. <br>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa </span>Brand Visionary · Works Hand-Crafted By
                        </p>
                        <p>
                            XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX
                            XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX

                            XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX
                            XXXXXX XXXXXX XXXXXX XXXXXX

                            XXXXXX XXXXXX XXXXXX XXXXXX
                        </p>
                    </div>
                    <div class="flex flex-col gap-2 h-1/2 justify-start">
                        <p>
                            <span class="text-2xl"><strong>NiuNiu - Backstage Steward</strong></span><br>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa </span>Website Development, Maintenance, Admin
                        </p>
                        <p>
                            A lone petal of midlife duckweed, drifting across the ancient realms of Lemuria.
                        </p>
                        <p>
                            After a decade+ in the so-called "mainstream", toiling under the stars and the moon, I came to recognize myself as but a tiny, solitary screw in a vast machine.
                            I chose, then, to depart from the game.
                        </p>
                        <p>
                            I then lived the dreams of my youth, presiding over a pâtisserie and a flower studio... until 2020, when the era turned against my endeavor.
                        </p>
                        <p>
                            Since that turning point, I have ventured into a mode of deep exploration, gone down the rabbit hole and had my own aha moment. 
                            I resolved to master the craft of coding, using it as a tool to ripple the hidden secrets through the digital ocean.
                        </p>
                    </div>
                </div>
                <div class="w-1/2 px-5 h-full flex flex-col justify-center gap-20 [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            <span class="text-2xl"><strong>明月 - 前台掌櫃</strong></span><br>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋 </span>靈感設計·作品製作
                        </p>
                        <p>
                            XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX
                            XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX

                            XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX XXXXXX
                            XXXXXX XXXXXX XXXXXX XXXXXX

                            XXXXXX XXXXXX XXXXXX XXXXXX
                        </p>
                    </div>
                    <div class="flex flex-col gap-5 h-1/2 justify-start">
                        <p>
                            <span class="text-2xl"><strong>牛姊 - 後台掌櫃</strong></span><br>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋 </span>網站開發·維護·行政
                        </p>
                        <p>
                            漂游於昔日利莫里亞區域的中年浮萍一枚。<br>
                            從十載餘的所謂主流社會披星戴月中認識到了區區一小螺絲釘的自己，主動棄局。
                        </p>
                        <p>
                            經歷了自幼以來夢寐以求的甜品店經營，也經歷了另一個幼時的憧憬 — 花店的主人...直至2020，被時代棄局。
                        </p>
                        <p>
                            自從2020起，開啟了探索模式，通過幾年的晝夜雲遊和冥想，發覺了作為意識體的自己，也發掘了圍繞在身邊的矩陣之存在。
                            自那瞬間起，立地決心自學程序，將形而上的秘密通過數字海洋傳播於有緣人。
                        </p>
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-black/40 text-white text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">The Souls</div>
                    <div class="w-1/2">靈魂們</div>
                </div>
            </div>
        </div>
        <div class="diff-resizer cursor-col-resize"></div>
    </figure>

    <!-- The Light｜循光而行 -->
    <figure class="diff aspect-16/9 shrink-0 p-10" tabindex="0">
        <!-- image 1 -->
        <div class="diff-item-1" role="img" tabindex="0">
            <img alt="rose" src="/media/images/about/blossoms.webp" />
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-white text-black text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">循光而行</div>
                    <div class="w-1/2">The Light</div>
                </div>
            </div>
        </div>
        <!-- image 2 -->
        <div class="text-xs diff-item-2 relative" role="img">
            <img alt="rose blur" src="/media/images/about/blossoms_blur.webp" />
            <div class="absolute inset-0 bg-transparent flex">
                <div class="w-1/2 px-10 h-full flex flex-col justify-center gap-28 [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            一場關於<span class="text-2xl"><strong>「療癒」</strong></span>的實踐。
                        </p>
                        <p>
                            在<span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋</span>，創作不是一種生產，而是一場緩慢的觀想。
                        </p>
                        <p>
                            我們的作品——無論是紙上暈染的繪畫，或是指尖摩挲的文創——皆是從那場長達數年的冥想雲遊中，採擷而來的靈魂碎片。
                        </p>
                        <p>
                            我們將對利莫里亞的懷想、花卉的餘香與甜品的溫熱，化作斑斕的色彩與線條，試圖在矩陣的裂縫中，種下一片靜謐。
                        </p>
                    </div>
                    <div class="flex flex-col gap-5 h-1/2 justify-start">
                        <p>
                            <span class="text-2xl"><strong>萬光交匯</strong></span>：織就一場同頻共振的繁星之夢
                        </p>
                        <p>
                            在<span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋</span>的願景裡，我們從不願做一座與世隔絕的孤島，而是渴望成為那處吸引靈感停靠的池塘，與每道光重逢。
                        </p>
                        <p>
                            在這矩陣的各個角落中，仍有許多如你們一般的創作靈魂。你或許也曾在時代的潮汐中獨自撐起一盞微光。
                        </p>
                        <p>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa心燈之屋</span>誠摯地邀請每一位心懷慈悲與美感的創作者，將你們筆下的色彩與掌心的溫度帶到這裡，將彼此的意識體連結成網，在冷峻的數字世界中，共同築起一座溫暖而廣闊的舞台。
                        </p>
                    </div>
                </div>
                <div class="w-1/2 px-10 h-full flex flex-col justify-center gap-20 text-justify [text-shadow:_0_0_5px_#fff,_0_0_10px_#fff,_0_0_15px_#fff]">
                    <div class="flex flex-col gap-5 h-1/2 justify-end">
                        <p>
                            The Practice of <span class="text-2xl"><strong>HEALING</strong></span> 
                        </p>
                        <p>
                            At Hṛdayadīpa<span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa</span>, creation is not production, but a slow meditation. 
                        </p>
                        <p>
                            Each piece—from ink on paper to objects held in hand—is a soul-fragment gathered from years of wandering through inner realms.  
                        </p>
                        <p>
                            We weave the echoes of Lemuria, the scent of blooms, and the warmth of sweets into color and line—sowing seeds of stillness within the cracks of the matrix. 
                        </p>
                    </div>
                    <div class="flex flex-col gap-5 h-1/2 justify-start">
                        <p>
                            <span class="text-2xl"><strong>CONVERGING LIGHTS</strong></span>: A Dream of Resonating Stars
                        </p>
                        <p>
                            We seek not to be an isolated island, but a tranquil pond where inspirations come to rest, and every light finds its reflection. 
                        </p>
                        <p>
                            Across the matrix, many souls like yours carry a flickering flame.
                        </p>
                        <p>
                            <span class="text-yellow-300 text-shadow-lg text-shadow-amber-600/80">Hṛdayadīpa</span> invites every creator of compassion and beauty to bring your colors and your warmth. Let us weave our consciousness into a shimmering web—building a sanctuary of light within this cold digital world. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex w-[17rem] text-center bg-black/40 text-white text-[1rem] font-bold p-4 rounded-xl backdrop-blur-sm">
                    <div class="w-1/2">循光而行</div>
                    <div class="w-1/2">The Light</div>
                </div>
            </div>
        </div>
        <div class="diff-resizer cursor-col-resize"></div>
    </figure>
</div>
{% endblock %}