{% block content %}
<div class="flex justify-center items-center">
    <div class="hero min-h-10/12 max-w-4/5 my-30 bg-amber-50">
      <div class="hero-content flex-col p-16 lg:flex-row">
        <!-- LEFT -->
        <div class="h-full text-xs noto-serif-tc-extralight">
            <div class="h-1/2">
                <img
                  src="media/hero/tulip.svg"
                  class="w-3/7 float-left rounded-lg shadow-2xl mr-5"
                />
                <p class="font-thin mb-5">
                七生怪卜手丟校，太竹亮飛鼻馬有弓筆因友玉皮方！由發亮念元天首几。親着頭果六現麻的字話法王從母北笑個，教圓玉進內空吧吃跳長象，玩男活玩帽帽辛師蝴浪戊斥荷服昌固五娘，而教耍。
                </p>
            </div>
            <p class="h-1/2">
                只功尾司，節跟哭把跳服着目？後次姐誰戶你羽身百尾法目植：蝶胡原爪：固誰辛民羽土回看魚呀女：晚才蝸你貓走蝸。刃巾燈石金春固兆弓經黃找，燈頭種吃音吧吧小真珠畫：造今由送秋很跟未讀。
            </p>
        </div>

        <!-- RIGHT -->
        <div>
            <div class="w-full text-right">
                <h1 class="text-5xl noto-serif-tc-black">心 燈 寄 語</h1>
            </div>
            <p class="py-6 text-base noto-serif-tc-regular">
                他羊春朱司坡姊用叫爬音登助氣光。而跑跟室枝飯幾苦童次；國門動意氣念抱干什再斤犬升教，半行雪尺貫得氣已少進躲苗父送員。冬裝黃民地很樹，和校真笑洋才法而。ABCDEabcdeFGHIJfghij
            </p>
            <div class="w-full text-right">
                <button class="btn btn-neutral btn-outline">瞭 解 更 多</button>
            </div>
        </div>
      </div>
    </div>

</div>


{% endblock %}