<div class="w-full h-full bg-info-content flex-col">
    <!-- profile -->
    <div class="w-full px-10 pt-10">
        <div class="flex flex-col lg:flex-row justify-center items-center ">
            <!-- avatar -->
            <div class="ring-accent-content ring-offset-base-100 w-1/3 aspect-square rounded-full ring-2 ring-offset-2">
                <div class="w-full aspect-square rounded-full border-4 border-double border-accent-content ">
                    <img 
                        class="rounded-full w-full h-full aspect-square object-cover" 
                        src="{% if request.user.profile %}
                                {{ request.user.profile.profile_picture.url }} 
                            {% elif user.socialaccount_set.all.0.get_avatar_url %}
                                {{ user.socialaccount_set.all.0.get_avatar_url }}
                            {% else %}
                                /static/userprofile/default.png 
                            {% endif %}" 
                    />
                </div>
            </div>
            <!-- name etc. -->
            <div class="ml-3 text-white w-full flex flex-col items-center justify-center">
                <div class="card-title font-medium">{{ request.user.username }}</div>
                {% if request.user.profile.dob %}
                    <div class="flex text-xs items-center">
                        <i class="fa-solid fa-cake-candles"></i>&nbsp;
                        <span id="birthday">{{ request.user.profile.dob }}</span>
                    </div>
                    <div class="flex text-xs items-center">
                        <i class="fa-regular fa-star"></i>&nbsp;
                        <span id="zodiac"></span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- profile enter progress -->
    <div id="profile_strength">
        <div class="flex flex-col items-center gap-2 p-4 rounded-xl">
            <div class="radial-progress text-white" 
                 style="--value:{{ user.profile.get_completion_percentage }}; --size:4rem; --thickness: 8px;" 
                 role="progressbar">
                {{ user.profile.get_completion_percentage }}%
            </div>
            <div class="text-center">
                <span class="text-sm font-bold block text-white">Profile Strength</span>
                <span class="text-sm font-normal block text-white">檔案填寫進度</span>
                {% if user.profile.get_completion_percentage < 100 %}
                    <a href="{% url 'dashboard' 'profile' %}" class="btn btn-xs btn-outline btn-info mt-2 py-5">
                        Fill in details to unlock perks!<br>填寫檔案解鎖更多優惠！
                    </a>
                {% else %}
                    <span class="text-success text-xs/4">🎉 Fully Personalized!<br>檔案齊全🎉</span>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- dashboard menu -->
    <ul class="text-white text-sm pb-10">
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'main' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'main' %}"
                hx-get="{% url 'dashboard' 'main' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-gauge mr-3"></i>
                Dashboard｜管理主頁
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'profile' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'profile' %}" 
                hx-get="{% url 'dashboard' 'profile' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-address-card mr-3"></i>
                Edit Profile｜會員檔案
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'addresses' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'addresses' %}" 
                hx-get="{% url 'dashboard' 'addresses' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-truck mr-3"></i>
                Addresses｜地址簿
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'orders' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'orders' %}" 
                hx-get="{% url 'dashboard' 'orders' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-bag-shopping mr-3"></i>
                Orders｜購物紀錄
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'offers' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'offers' %}" 
                hx-get="{% url 'dashboard' 'offers' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-money-bill mr-3"></i>
                Offers｜福利活動
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'vouchers' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'vouchers' %}" 
                hx-get="{% url 'dashboard' 'vouchers' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-money-bill-1-wave mr-3"></i>
                Vouchers｜禮品券
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'wishlist' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'wishlist' %}" 
                hx-get="{% url 'dashboard' 'wishlist' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-rectangle-list mr-3"></i>
                Wishlist｜購物清單
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'favorites' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'favorites' %}" 
                hx-get="{% url 'dashboard' 'favorites' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-star mr-3"></i>
                Favorites｜收藏
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
            {% if subpage == 'help' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'help' %}" 
                hx-get="{% url 'dashboard' 'help' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
                class="flex flex-col"
            >
                <div class="flex items-center">
                    <i class="fa-solid fa-headset mr-3"></i>
                    Help｜客服熱線&nbsp;
                    <div class="badge badge-xs badge-secondary"                    >
                        <i class="fa-solid fa-message text-white"></i>
                        <span id="unread-count-sidebar" 
                            lass="badge badge-xs badge-secondary text-primary-content">
                            {% if unread_count %}
                                <span>{{ unread_count }}</span>
                            {% else %}
                                <span>0</span>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </a>
        </li>
        <li class="text-left pl-10 py-5 dashboard-item border-y-4 border-l-4 border-transparent transition-colors 
        {% if subpage == 'threed' %}is-active{% endif %}">
            <a href="{% url 'dashboard' 'threed' %}" 
                hx-get="{% url 'dashboard' 'threed' %}" 
                hx-target="#dashboard-content" 
                hx-push-url="true"
                hx-on:click="updateActiveLink(this)"
            >
                <i class="fa-solid fa-cubes mr-3"></i>
                3D Inspiration｜三維靈感
            </a>
        </li>
    </ul>            
</div>


