{% block content %}

    <div class="sm:col-span-1 lg:col-span-2 rounded-2xl">
        <!-- profile -->
        <div class="flex w-full">
            <!-- avatar -->
            <div class="avatar">
                <div class="ring-secondary-content ring-offset-base-100 w-12 rounded-full ring-2 ring-offset-2">
                    <img src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" />
                </div>
            </div>
            <!-- name etc. -->
            <div class="ml-3">
                <div class="card-title">Username</div>
                <div class="text-sm">DOB: 2000/1/1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;星座：摩羯</div>
            </div>
        </div>

        <!-- bg-[#FFCDE6] <<< valentine - version
        bg-[#DBDBFF]
        bg-[#9DFFFF]
        bg-[#CEFF9F]
        bg-[#FFCE9E]

        bg-[#FFFFCC]
        bg-[#D5FFEA]
        bg-[#FFBDFF]
        bg-[#FFD6EA]
        bg-[#bdf796] -->


        <!-- dashboard menu -->
        <!-- <div class="relative my-10"> -->
            <!-- panels -->
            <div class="my-10 grid grid-cols-2 w-full z-10 text-xs text-shadow-lg text-shadow-success">
                <!-- (1) main -->
                <a href="{% url 'dashboard' %}" class="group">
                    <div class="group-active:translate-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer rounded-tl-[2vw] py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-info">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <p>管理主頁</p>
                    </div>
                </a>
                <!-- (2) profile -->
                <a href="{% url 'member_profile' %}" class="group">
                    <div class="group-active:-translate-x-0.5 group-active:translate-y-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer rounded-tr-[2vw] py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-info-content">
                        <i class="fa-solid fa-address-card"></i>
                        <p>會員檔案</p>
                    </div>
                </a>
                <!-- (3) address book -->
                <a href="{% url 'addresses' %}" class="group">
                    <div class="group-active:translate-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-base-content">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>配送地址簿</p>
                    </div>
                </a>
                <!-- (4) orders -->
                <a href="{% url 'orders' %}" class="group">
                    <div class="group-active:-translate-x-0.5 group-active:translate-y-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-base-300">
                        <i class="fa-solid fa-clipboard"></i>
                        <p>購物紀錄</p>
                    </div>
                </a>
                <!-- (5) my perks -->
                <a href="{% url 'coupons' %}" class="group">
                    <div class="group-active:translate-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-success">
                        <i class="fa-solid fa-tags"></i>
                        <p>優惠券</p>
                    </div>
                </a>
                <!-- (6) wallet -->
                <a href="{% url 'vouchers' %}" class="group">
                    <div class="group-active:-translate-x-0.5 group-active:translate-y-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-success-content">
                        <i class="fa-solid fa-piggy-bank"></i>
                        <p>禮品券</p>
                    </div>
                </a>
                <!-- (7) customer hotline -->
                <a href="{% url 'help' %}" class="group">
                    <div class="group-active:translate-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-warning-content">
                        <i class="fa-solid fa-comments"></i>
                        <p>客服熱線</p>
                    </div>
                </a>
                <!-- (8) wish list -->
                <a href="{% url 'wishlist' %}" class="group">
                    <div class="group-active:-translate-x-0.5 group-active:translate-y-0.5 group-hover:text-secondary-content duration-300 ease-out cursor-pointer py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-warning">
                        <i class="fa-solid fa-list"></i>
                        <p>未來購物清單</p>
                    </div>
                </a>
                <!-- (9) collections -->
                <a href="{% url 'favorites' %}" class="group">
                    <div class="group-active:translate-0.5 group-hover:text-secondary-content duration-300 ease-out rounded-bl-[2vw] py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-error">
                        <i class="fa-solid fa-heart"></i>
                        <p>收藏</p>
                    </div>
                </a>
                <!-- (10) 3D design -->
                <a href="{% url 'threed' %}" class="group">
                    <div class="group-active:-translate-x-0.5 group-active:translate-y-0.5 group-hover:text-secondary-content duration-300 ease-out rounded-br-[2vw] py-5 grid-span-1 text-center flex flex-col items-center text-primary-content bg-error-content">
                        <i class="fa-solid fa-palette"></i>
                        <p>3D場景</p>
                    </div>
                </a>
            </div>
        <!-- </div> -->

        <!-- pinned articles -->
        <div class="flex flex-col gap-[50px]">
            <h2 class="text-[1.2rem] text-center">精選文章</h2>
            <div class="w-full relative pinup">
                <h3 class="absolute z-10 top-1/2 left-1/2 -translate-1/2">手繪入門課<br>～第一天～</h3>
                <i class="z-10 fa-solid fa-map-pin absolute left-1/2 top-1 -translate-1/2 text-error"></i>
                <img src="/media/hero/tulip.svg" alt="" class="z-10 w-full border-2 border-secondary-content -rotate-3">
                <!-- <img src="/media/hero/lavendar.svg" class="rounded-box" /> -->
            </div>        
        </div>
    </div>


    <style>
        .pinup::before,
        .pinup::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
        }
        .pinup::before {
            border: 2px solid var(--color-success);
            transform: rotate(0);
            z-index: -10;
            /* background-color: var(--color-secondary-content); */
            background-color: transparent;
        }
        .pinup::after {
            border: 2px solid var(--color-accent-content);
            transform: rotate(5deg) translateY(-5px);
            z-index: -9;
            /* background-color: var(--color-success); */
            background-color: transparent;
        }
    </style>
{% endblock %}