{% block content %}
    <footer id="footer" class="relative bg-primary footer w-full sm:footer-horizontal text-[var(--xindeng-light-color)] px-10 py-30 justify-around">
        <!-- wrapper -->
        <div class="footer_wrapper min-w-[30rem] w-full h-full">
            <!-- row 1 -->
            <div class="flex w-full -mb-[4px]">
                <!-- top-left -->
                <div class="w-1/2 relative">
                    <!-- links -->
                    <nav class="w-full h-[80px] flex flex-col text-right">
                        <span class="font-semibold text-[#A1FFAB]">Shopping Guide｜購物指南</span>
                        <a class="text-[0.7rem] font-light text-[#A1FFAB] leading-4" href="#">Shipping Policy ｜配送須知</a>
                        <a class="text-[0.7rem] font-light text-[#A1FFAB] leading-4" href="#">After-Sales Service｜售後服務</a>
                        <a class="text-[0.7rem] font-light text-[#A1FFAB] leading-4" href="#">How to Order｜購買流程</a>
                    </nav>
                    <!-- windmill wing -->
                    <div class="absolute right-0 w-[160px] aspect-[2/1] flex bg-[#38533B]" style="clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);"></div>
                </div>
                <!-- top-right -->
                <div class="w-1/2 h-[160px] flex justify-start">
                    <!-- windmill wing -->
                    <div class="w-[80px] aspect-[1/2] bg-[#5E2C2C]" style="clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);"></div>
                    <!-- links -->
                    <nav class="flex flex-col w-[calc(100%-80px)] justify-end">
                        <a class="text-[0.7rem] font-light text-[#FF7E7E] leading-4" href="#">IP Policy｜版權政策</a>
                        <a class="text-[0.7rem] font-light text-[#FF7E7E] leading-4" href="#">Privacy Policy｜隱私政策</a>
                        <a class="text-[0.7rem] font-light text-[#FF7E7E] leading-4" href="#">FAQs｜常見疑問</a>
                        <a class="text-[0.7rem] font-light text-[#FF7E7E] leading-4" href="{% url 'about' %}">About Us｜關於我們</a>
                        <span class="font-semibold text-[#FF7E7E]">General Info｜常用資訊</span>
                    </nav>
                </div>
            </div>
            <!-- row 2 -->
            <div class="flex w-full -mt-[4px]">
                <!-- bottom-left -->
                <div class="w-1/2 h-[160px] flex justify-end">
                    <!-- links -->
                    <nav class="flex flex-col w-[calc(100%-80px)] text-right">
                        <a href=""><span class="font-semibold text-[var(--xindeng-light-color)]">Contact Us｜聯繫我們</span></a>
                        <a class="text-[0.7rem] font-light text-[var(--xindeng-light-color)] leading-4" href="#">E-mail Us｜電郵我們</a>
                        <a class="text-[0.7rem] font-light text-[var(--xindeng-light-color)] leading-4" href="#">Member Hotline｜會員熱線</a>
                    </nav>
                    <!-- windmill wing -->
                    <div class="w-[80px] aspect-[1/2] bg-[#7E7B50]" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);"></div>
                </div>
                <!-- bottom right -->
                <div class="w-1/2 flex flex-col">
                    <!-- windmill wing -->
                    <div class="w-[160px] aspect-[2/1] flex bg-[#13366F]" style="clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);"></div>
                    <!-- links -->
                    <nav class="w-full h-[80px] flex flex-col justify-end text-left">
                        <a class="flex items-center gap-1 text-[0.7rem] font-light text-[#3E87FF] leading-4" href="#">
                            <svg 
                                fill="#3E87FF"
                                viewBox="0 0 32 32" 
                                id="Camada_1" 
                                version="1.1" 
                                width="16"
                                height="16"

                                xml:space="preserve" 
                                xmlns="http://www.w3.org/2000/svg" 
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                            >
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier"> 
                                    <g> 
                                    <path d="M22.3,8.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C23.7,9,23.1,8.4,22.3,8.4z"></path> 
                                    <path d="M16,10.2c-3.3,0-5.9,2.7-5.9,5.9s2.7,5.9,5.9,5.9s5.9-2.7,5.9-5.9S19.3,10.2,16,10.2z M16,19.9c-2.1,0-3.8-1.7-3.8-3.8 c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C19.8,18.2,18.1,19.9,16,19.9z"></path> 
                                    <path d="M20.8,4h-9.5C7.2,4,4,7.2,4,11.2v9.5c0,4,3.2,7.2,7.2,7.2h9.5c4,0,7.2-3.2,7.2-7.2v-9.5C28,7.2,24.8,4,20.8,4z M25.7,20.8 c0,2.7-2.2,5-5,5h-9.5c-2.7,0-5-2.2-5-5v-9.5c0-2.7,2.2-5,5-5h9.5c2.7,0,5,2.2,5,5V20.8z"></path> 
                                    </g> 
                                </g>
                            </svg>
                            <span>Instagram</span>
                        </a>
                        <a class="flex items-center gap-1 text-[0.7rem] font-light text-[#3E87FF] leading-4" href="#">
                            <svg 
                                fill="#3E87FF" 
                                viewBox="0 0 256 256" 
                                id="Flat" 
                                width="16"
                                height="16"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier"> 
                                    <path d="M232,128a104.02405,104.02405,0,0,1-132.74316,99.957l9.8164-39.26513A50.31473,50.31473,0,0,0,136,196c35.29,0,64-30.50488,64-68A72,72,0,1,0,61.2373,155.00393,8.00011,8.00011,0,0,0,76.06836,149,56.00735,56.00735,0,1,1,184,128c0,28.67285-21.53271,52-48,52-10.49072,0-17.78076-3.66064-22.75049-8.01269l14.51172-58.04688a8.00012,8.00012,0,0,0-15.52246-3.88086L84.17822,222.30178A103.99416,103.99416,0,1,1,232,128Z"></path> 
                                </g>
                            </svg>
                            <span>Pinterest</span>
                        </a>
                        <a class="flex items-center gap-1 text-[0.7rem] font-light text-[#3E87FF] leading-4" href="#">
                            <svg height="16" width="16" viewBox="-51.45 -69.25 445.9 415.5">
                                <g fill="#3E87FF" fill-rule="evenodd">
                                    <path d="M274 167c-7.778 0-14-6.222-14-14s6.222-14 14-14 14 6.222 14 14c0 7.389-6.222 14-14 14m-69 0c-7.778 0-14-6.222-14-14s6.222-14 14-14 14 6.222 14 14c0 7.389-6.222 14-14 14m102.39 78.581C329.216 229.871 343 206.5 343 180.827 343 133.316 297.052 95 240 95s-103 38.316-103 85.827c0 47.512 45.948 85.828 103 85.828 11.87 0 22.974-1.533 33.695-4.598.766-.383 1.915-.383 3.063-.383 1.915 0 3.83.766 5.361 1.532l22.591 13.028c.766.383 1.149.766 1.915.766a3.433 3.433 0 003.446-3.448c0-.767-.383-1.533-.383-2.683 0-.383-3.063-10.728-4.595-17.242-.383-.766-.383-1.532-.383-2.299-.383-2.682.766-4.597 2.68-5.747"/>
                                    <path d="M164 86c-8.93 0-16-7.07-16-16s7.07-16 16-16 16 7.07 16 16c0 8.558-7.07 16-16 16m-82 0c-8.93 0-16-7.07-16-16s7.07-16 16-16 16 7.07 16 16c0 8.558-7.07 16-16 16m41.96-86C55.646 0 0 45.895 0 102.88c0 30.98 16.502 58.899 42.983 77.64 1.919 1.53 3.454 3.824 3.454 6.884 0 .764-.384 1.912-.384 2.677-1.919 7.649-5.373 20.27-5.757 20.652-.383 1.148-.767 1.913-.767 3.06 0 2.295 1.919 4.207 4.221 4.207.768 0 1.535-.382 2.303-.765l27.248-15.68c1.919-1.148 4.222-1.913 6.524-1.913 1.152 0 2.303 0 3.454.383 12.665 3.442 26.48 5.736 40.297 5.736h6.908c-2.687-8.031-4.222-16.445-4.222-25.242 0-51.631 50.658-93.701 112.83-93.701H246C237.173 37.48 185.747 0 123.96 0"/>
                                </g>
                            </svg>                            
                            <span>WeChat｜微信</span>
                        </a>
                        <span class="font-semibold text-[#3E87FF]">SNSs｜社群媒體</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- logo -->
        <div class="absolute inset-0 m-auto h-10 w-10 md:h-15 md:w-15 z-10">
            <img src="/media/images/logos/logo_transparent_light.svg" alt="">
        </div>
        <!-- copyright -->
        <p class="absolute bottom-10 left-1/2 -translate-x-1/2 font-extralight text-center text-xs">
            <span>Copyright © 2026 - All right reserved by Hṛdaya Dīpa 心燈之屋</span>
        </p>
    </footer>

</body>
</html>
{% endblock %}