{% block content %}

<div class="relative">
    <div id="navbar" class="fixed top-0 right-0 left-0 z-100 navbar flex justify-between bg-base-100 shadow-sm px-[max(1rem,5vw)] ">
      <!-- LEFT -->
        <div class="navbar-start">
            <!-- hamburger menu -->
            <div class="dropdown">
                <!-- logo -->
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
                </div>
                <!-- menu -->
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a>介紹</a></li>
                    <li>
                        <a>3D寶貝</a>
                        <ul class="p-2">
                            <li><a>油畫</a></li>
                            <li><a>水彩畫</a></li>
                            <li><a>能量系</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>電子寶貝</a>
                        <ul class="p-2">
                            <li><a>線上手繪課程</a></li>
                            <li><a>禮品券</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- logo -->
            <div>
                <a href="{% url 'home' %}" class="">Hṛdayadīpa (हृदयदीप)</a>
            </div>
        </div>
        
      <!-- CENTER -->
        <div class="navbar-center hidden lg:flex max-w-3/5">
            <ul class="menu menu-horizontal px-1">
            <li><a href="{% url 'about' %}">介紹</a></li>
            <li>
                <details class="dropdown">
                    <summary>寶貝</summary>
                    <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                        <li><a href="{% url 'products' %}">一覽</a></li>

                        <li>
                            <a>3D寶貝</a>
                            <ul>
                                <li><a>油畫</a></li>
                                <li><a>水彩畫</a></li>
                                <li><a>能量系</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>電子寶貝</a>
                            <ul>
                                <li><a>禮品券</a></li>
                                <li><a>線上手繪課程</a></li>
                            </ul>
                        </li>
                    </ul>
                </details>
            </li>
            <li><a href="{% url 'all_posts' %}">筆記</a></li>
            <li><a href="{% url 'collaboration' %}">合作</a></li>
            </ul>
        </div>
    
      <!-- RIGHT -->
        <div class="flex gap-2 navbar-end">
            <!-- search icon -->
            <button class="btn btn-ghost btn-circle" onclick="search.showModal()">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
                </a>
            </button>            
            <!-- cart -->
            <div class="dropdown dropdown-bottom flex items-center">
                <!-- icon -->
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle flex items">
                    <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /> </svg>
                    <span class="badge badge-sm indicator-item">8</span>
                    </div>
                </div>
                <!-- dropdown content -->
                <div
                    tabindex="0"
                    class="card card-compact dropdown-content bg-base-100 z-1 mt-3 w-52 shadow right-0">
                    <div class="card-body">
                        <span class="text-lg font-bold">8 Items</span>
                        <span class="text-info-content">Subtotal: $999</span>
                        <div class="card-actions">
                            <a href="{% url 'cart' %}" class="btn btn-primary btn-block">View cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- user -->
            {% if user.is_authenticated %}
                <!-- logged-in user icon -->
                <div class="dropdown dropdown-bottom flex items-center">
                    <!-- avatar -->
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                        <img
                            alt="Tailwind CSS Navbar component"
                            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                    </div>
                    <!-- dropdown content -->
                    <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow right-0">
                        <li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-gauge"></i>管理主頁</a></li>
                        <li><a href="{% url 'member_profile' %}"><i class="fa-solid fa-address-card"></i>會員檔案</a></li>
                        <li><a href="{% url 'addresses' %}"><i class="fa-solid fa-truck"></i>配送地址</a></li>
                        <li><a href="{% url 'orders' %}"><i class="fa-solid fa-bag-shopping"></i>購物紀錄</a></li>
                        <li><a href="{% url 'coupons' %}"><i class="fa-solid fa-money-bill"></i>優惠券</a></li>
                        <li><a href="{% url 'vouchers' %}"><i class="fa-solid fa-money-bill-1-wave"></i>禮品券</a></li>
                        <li>
                            <a href="{% url 'help' %}" class="flex justify-between">
                                <div>
                                    <i class="fa-solid fa-headset"></i>
                                    <span>&nbsp;客服熱線</span>
                                </div>
                                <div class="badge text-[10px] bg-primary text-primary-content">新到<i class="fa-solid fa-message"></i>17</div>
                            </a>
                        </li>
                        <li><a href="{% url 'wishlist' %}"><i class="fa-solid fa-rectangle-list"></i>未來購物清單</a></li>
                        <li><a href="{% url 'favorites' %}"><i class="fa-solid fa-star"></i>收藏</a></li>
                        <li><a href="{% url 'threed' %}"><i class="fa-solid fa-cubes"></i>3D場景</a></li>
                    </ul>
                </div>
            {% else %}
                <!-- login btn -->
                <a class="flex items-center" href="{% url 'login' %}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span class="text-xs">登入</span>
                </a>
                <!-- register btn -->
                <a class="flex items-center" href="{% url 'register' %}">
                    <button class="btn btn-sm btn-active btn-primary">
                        <i class="fa-regular fa-registered"></i>
                        註冊
                    </button>
                </a>
            {% endif %}
            <!-- theme toggle -->
            <!-- <label class="swap swap-flip"> -->
                <!-- this hidden checkbox controls the state -->
                <!-- <input id="day_night_checkbox" type="checkbox" checked="" class="theme-controller" value="" /> -->
                <!-- sun icon -->
                <!-- <svg
                    id="sunIcon"
                    class="swap-off h-6 w-6 fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path
                    d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
                </svg> -->
    
                <!-- moon icon -->
                <!-- <svg
                    id="moonIcon"
                    class="swap-on h-6 w-6 fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path
                    d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
                </svg>
            </label> -->
        </div>
    </div>
</div>

<!-- add new 【MODAL】-->
<div class="absolute -top-full card w-full min-h-[5rem] justify-center items-center ">
    <!-- modal -->
    <dialog id="search" class="modal">
        <div class="modal-box bg-neutral-content relative">
            <div class="modal-action py-[2rem] px-[3rem]">
                <!-- form -->
                <form action="" method="GET" class="flex gap-2">
                    <label class="w-full input">
                        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke-width="2.5"
                            fill="none"
                            stroke="currentColor"
                            >
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.3-4.3"></path>
                            </g>
                        </svg>
                        <input type="search" class="grow w-full" placeholder="搜索" />
                        <kbd class="kbd kbd-sm">⌘</kbd>
                        <kbd class="kbd kbd-sm">K</kbd>
                    </label>  
                    <button class="btn btn-primary" type="submit">搜索</button>              
                </form>
                <!-- close button -->
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
            </div>
        </div>
    </dialog>
</div>


{% endblock %}