{% block content %}
{% load static %}
    <!-- <div class="carousel w-full aspect-[16/9] sticky">
        <div id="slide1" class="carousel-item relative w-full">
            <img
            src="media/hero/tulip.svg"
            class="w-full" />
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide3" class="btn btn-circle">❮</a>
            <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full">
            <img
            src="media/hero/purpleFlower.svg"
            class="w-full" />
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide1" class="btn btn-circle">❮</a>
            <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide3" class="carousel-item relative w-full">
            <img
            src="media/hero/lavendar.svg"
            class="w-full" />
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
            <a href="#slide2" class="btn btn-circle">❮</a>
            <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
        </div>
    </div> -->

    <div class="swiper">
        <!-- slides -->
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                src="media/hero/tulip.svg"
                class="w-full" />
            </div>
            <div class="swiper-slide">
                <img
                src="media/hero/purpleFlower.svg"
                class="w-full" />
            </div>
            <div class="swiper-slide">
                <img
                src="media/hero/lavendar.svg"
                class="w-full" />
            </div>
        </div>
        <!-- pagination -->
        <div class="swiper-pagination"></div>
        <!-- nav button -->
        <div class="swiper-btn-prev text-primary"><i class="fa-solid fa-circle-chevron-left fa-2xl"></i></div>
        <div class="swiper-btn-next text-primary"><i class="fa-solid fa-circle-chevron-right fa-2xl"></i></div>
        <!-- scroll-bar -->
        <div class="swiper-scrollbar"></div>
    </div>


{% endblock %}