{% block content %}
{% load static %}
    <div class="swiper">
        <!-- slides -->
        <!-- <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                src="media/hero/tulip.svg"
                class="w-full" />
            </div>
            <div class="swiper-slide">
                <img
                src="media/hero/purpleFlower.svg"
                class="w-full" />
            </div>
            <div class="swiper-slide">
                <img
                src="media/hero/lavendar.svg"
                class="w-full" />
            </div>
        </div> -->
        <!-- pagination -->
        <!-- <div class="swiper-pagination"></div> -->
        <!-- nav button -->
        <!-- <div class="swiper-btn-prev text-primary"><i class="fa-solid fa-circle-chevron-left fa-2xl"></i></div>
        <div class="swiper-btn-next text-primary"><i class="fa-solid fa-circle-chevron-right fa-2xl"></i></div> -->
        <!-- scroll-bar -->
        <!-- <div class="swiper-scrollbar"></div> -->
    
    
        <!-- Video -->
        <video style="width: 100%;" muted loop autoplay>
            <source src="/static/videos/hero_video1.mp4" type="video/mp4" />
        </video>  
    </div>


{% endblock %}