{% block content %}
    <div class="flex">
        <!-- LEFT -->
        <div class="w-1/2 flex flex-col justify-around">
            <!-- activity -->
            <div class="card md:card-side bg-base-100 shadow-sm">
                <figure class="w-1/2">
                    <img
                    src="media/hero/tulip.svg"
                    alt="tulip drawing image" />
                </figure>
                <div class="card-body w-1/2 m-auto">
                    <div class="flex justify-center">
                        <h2 class="card-title">最新活動</h2>
                    </div>
                    <p class="text-xs">
                        借我掃荷故面實邊元功星造定肖道嗎呀你已邊；
                        尤美右秋，尺央進找助肉民您木時波吉員昔主水止鳥它何，
                        棵少跑蝸訴空棵香裏世即：高故了福走來。
                    </p>
                    <div class="card-actions justify-start">
                    <button class="btn btn-neutral">瞭 解 詳 情</button>
                    </div>
                </div>
            </div>

            <!-- article -->
            <div class="card md:card-side bg-base-100 shadow-sm">
                <div class="card-body w-1/2">
                    <div class="flex justify-center">
                        <h2 class="card-title">作品背後的故事</h2>
                    </div>
                    <p class="text-xs">目黃光停？原別弟人吉院休去坐買貓登兌在哭，
                        示眼石新聲辛士申雨直活玩太條追兒錯旁百半，
                        送香或造念斗左地父彩太黃。
                    </p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-outline">閱 讀 文 章</button>
                    </div>
                </div>
                <figure class="w-1/2">
                    <img
                    src="media/hero/purpleFlower.svg"
                    alt="tulip drawing image" />
                </figure>
            </div>
            
        </div>
        <!-- RIGHT -->
        <div class="relative w-1/2 text-right">
            <!-- arrow -->
            <i class="absolute fa-solid fa-arrows-up-down bottom-5 right-5 z-10 animate-bounce"></i>
            <!-- vertical carousel -->
            <div class="w-5/6 carousel carousel-vertical m-auto aspect-square v-calrousel-frame max-h-200">
                <!-- images -->
                <div class="carousel-item h-full">
                    <img class="w-full" src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp" />
                </div>
                <div class="carousel-item h-full">
                    <img class="w-full" src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp" />
                </div>
                <div class="carousel-item h-full">
                    <img class="w-full" src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp" />
                </div>
                <div class="carousel-item h-full">
                    <img class="w-full" src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp" />
                </div>
                <div class="carousel-item h-full">
                    <img class="w-full" src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp" />
                </div>
                <div class="carousel-item h-full">
                    <img class="w-full" src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp" />
                </div>
                <div class="carousel-item h-full">
                    <img class="w-full" src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp" />
                </div>
            </div>
        </div>
    </div>

{% endblock %}

