{% block content %}
    <div class="w-full text-center mb-15">
        <h2 class="text-5xl text-primary-content">會 員 服 務</h2>
    </div>
    <div class="flex w-full flex-col lg:flex-row">
        <!-- title -->

        <!-- categories -->
        <div class="card bg-base-200 rounded-box grid h-32 grow place-items-center">
            花級會員
        </div>

        <div class="divider lg:divider-horizontal">或</div>

        <div class="card bg-success rounded-box grid h-32 grow place-items-center text-success-content">
            葉級會員
        </div>
    </div>
{% endblock %}