{% block content %}
<div class="text-base-content z-50">
  <form action="">
    <fieldset class="fieldset bg-warning/10 border-base-300 rounded-box w-xs border p-4">
      <!-- form name -->
      <legend class="fieldset-legend text-neutral text-base">尋找與您有緣的作品</legend>

      <!-- input - name -->
      <label class="label text-neutral">名字</label>
      <input type="text" class="input bg-base-100" placeholder="請輸入您的名字" />
    
      <!-- input - DOB -->
      <label class="label text-neutral">生日</label>
      <input type="date" class="input bg-base-100">

      <!-- input - gender -->
      <label class="label text-neutral">性別</label>
      <div class="flex justify-evenly">
        <!-- male -->
        <div class="flex">
          <label class="label text-accent mr-1"><i class="fa-solid fa-mars fa-xl fa-spin" style="--fa-animation-duration: 15s;"></i></label>
          <input type="radio" name="gender" class="radio radio-xs radio-accent" />
        </div>
        <!-- female -->
        <div class="flex">
          <label class="label text-primary"><i class="fa-solid fa-venus fa-xl fa-spin" style="--fa-animation-duration: 15s;"></i></label>
          <input type="radio" name="gender" class="radio radio-xs radio-primary" />
        </div>
        <!-- secret -->
          <div class="flex">
            <label class="label text-secondary"><i class="fa-solid fa-lock fa-xl fa-spin" style="--fa-animation-duration: 15s;"></i></label>
            <input type="radio" name="gender" class="radio radio-xs radio-secondary" /> 
          </div>
      </div>

      <!-- input - blood type -->
      <label class="label text-neutral">血型</label>
      <div class="flex justify-between text-sm">
        <!-- A -->
        <div class="flex items-center">
          <label class="label text-error mr-1">A</label>
          <input type="radio" name="blood" class="radio radio-error radio-xs" />
        </div>
        <!-- B -->
        <div class="flex items-center">
          <label class="label text-error mr-1">B</label>
          <input type="radio" name="blood" class="radio radio-error radio-xs" />
        </div>
        <!-- O -->
        <div class="flex items-center">
          <label class="label text-error mr-1">AB</label>
          <input type="radio" name="blood" class="radio radio-error radio-xs" /> 
        </div>
        <!-- AB -->
        <div class="flex items-center">
          <label class="label text-error mr-1">O</label>
          <input type="radio" name="blood" class="radio radio-error radio-xs" /> 
        </div>
        <!-- Panda -->
        <div class="flex items-center">
          <label class="label text-error mr-1">
            <i class="fa-brands fa-reddit-alien fa-xl" style="--fa-animation-duration: 15s;"></i>
          </label>
          <input type="radio" name="blood" class="radio radio-error radio-xs" /> 
        </div>
      </div>

      <!-- input - preferred color scheme -->
      <select class="select ">
        <option disabled selected class="text-opacity-50">請選擇您喜歡的色系</option>
        <option style="color: #FF0000;">紅色系</option>
        <option style="color: #FFC0CB">粉紅色系</option>
        <option style="color: #FFA500">橙色系</option>
        <option style="color: #FFFF00">黃色系</option>
        <option style="color: #800080">紫色系</option>
        <option style="color: #008000">綠色系</option>
        <option style="color: #0000FF">藍色系</option>
        <option style="color: #A52A2A">褐色系</option>
        <option style="color: #FFFFFF">白色系</option>
        <option style="color: #808080">灰&黑色系</option>
      </select>   
      
      <!-- input - submit -->
      <button type="submit" class="btn btn-neutral mt-4 tracking-50">尋&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;覓</button>
    </fieldset>
  </form>
</div>

{% endblock %}