<!-- stock_badge.html -->
<div class="flex h-4/5 border-primary">
    <div class="shadow-[4px_4px_10px_0px_#fde047] rounded-3xl bg-base-100">
        <div class="flex items-center h-full px-2 py-1 md:p-3">
            {% if variation.stock > 1 %}
                <div class="flex gap-2 justify-between items-center stat-title text-[0.6rem] text-success font-black">
                    <span>Stock｜存貨:</span> 
                    <span>{{ variation.stock }}件</span>
                </div>
            {% elif variation.stock == 1 %}
                <div class="flex gap-2 justify-between items-center stat-title text-warning font-black">
                    <span>Last｜僅剩:</span>
                    <span>1 item｜件</span>
                </div>
            {% else %}
                <div class="flex gap-2 justify-between items-center stat-title text-error font-black">
                    Out of Stock｜缺貨
                </div>
            {% endif %}
        </div>
    </div>
</div>
