{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="relative mt-16">
        <!-- HERO -->
        {% include 'includes/hero.html' %}

        <!-- QUESTIONNAIRE -->
        <div class="hidden absolute top-0 right-20 w-1/3 h-full md:flex justify-center items-center">
            {% include 'includes/questionnaire.html' %}
        </div>
    </div>

    <!-- HIGHLIGHTS -->
    <div class="px-[max(1rem,5vw)] py-30">
        {% include 'includes/highlights.html' %}
    </div>

    <!-- PRODUCTS SELECTION -->
    <div class="px-[max(1rem,5vw)] pt-20 pb-30 bg-primary-content">
        {% include 'includes/collection.html' %}
    </div>

    <!-- ABOUT -->
    <div class="px-[max(1rem,5vw)] bg-[url(/static/hero/purpleFlower.svg)] bg-cover bg-center">
        {% include 'includes/about_section.html' %}
    </div>

    <!-- MEMBERSHIP -->
    <div class="px-[max(1rem,5vw)] py-30 bg-info-content">
        {% include 'includes/member_section.html' %}
    </div>
{% endblock %}