{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- BANNER -->
    <div class="relative mt-16 w-full">
        {% include 'includes/banner.html' %}
    </div>

    <!-- MAIN -->
    <div class="px-[max(1rem,5vw)] py-20 grid grid-cols-3 gap-4 sm:columns-3 sm:gap-8">
        <!-- COLLECTIONS -->
        <div class="col-span-2">
            <!-- heading -->
            <div class="flex justify-between items-center relative">
                <!-- breadcrumb -->
                <div class="breadcrumbs items-center text-sm">
                    <ul>
                        <li>
                            <a>
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="h-4 w-4 stroke-current">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                                </svg>
                                寶貝們
                            </a>
                        </li>
                        <li>
                            <a>
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                class="h-4 w-4 stroke-current">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                                </svg>
                                一覽
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- dropdown menu -->
                <div class="dropdown dropdown-hover">
                    <div tabindex="0" role="button" class="btn m-1 text-right">產品種類</div>
                    <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm right-0">
                        <li><a>全部</a></li>
                        <li><a>油畫</a></li>
                        <li><a>水彩畫</a></li>
                        <li><a>其他</a></li>
                    </ul>
                </div>
            </div>
            <!-- products collection -->
            <div class="grid md:grid-cols-2 gap-8 my-5">
                <!-- NO-1 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/lavendar.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>
                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <span class="badge badge-secondary">新上架</span>
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select w-20">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
                <!-- NO-2 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/tulip.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>
                    
                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <!-- <span class="badge badge-secondary"></span> -->
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
                <!-- NO-3 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/purpleFlower.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>

                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <!-- <span class="badge badge-secondary">新上架</span> -->
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
                <!-- NO-4 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/lavendar.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>

                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <span class="badge badge-error">人气！</span>
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
                <!-- NO-5 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/tulip.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>

                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <!-- <span class="badge badge-error">人气！</span> -->
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select w-20">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
                <!-- NO-6 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/purpleFlower.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>

                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <!-- <span class="badge badge-error">人气！</span> -->
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
                <!-- NO-7 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/purpleFlower.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>

                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <span class="badge badge-success">优惠！</span>
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                            
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
                <!-- NO-8 -->
                <div class="card bg-base-100 shadow-sm">
                    <figure class="relative">
                        <a href="{% url 'product' %}" class="w-full h-full group transition-all duration-5000 ease-in-out">
                            <img
                            class=""
                            src="/media/hero/lavendar.svg"
                            alt="Shoes" />
                            <div class="bg-primary/0 absolute w-full h-full top-0 left-0 group-hover:bg-primary/20 cursor-pointer">
                            </div>
                            <i class="absolute left-1/2 top-1/2 -translate-1/2 fa-solid fa-right-to-bracket opacity-0 group-hover:opacity-100 text-primary-content"></i>
                        </a>
                    </figure>

                    <div class="card-body">
                        <p class="card-title">
                            <i class="fa-solid fa-tag"></i>
                            產品名稱
                            <!-- <span class="badge badge-error">人气！</span> -->
                        </p>
                        <p>很好看巨好吃超好用！愛了愛了❤️今年限定款！</p>
                        <!-- price -->
                        <div class="card-title">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <form action="" method="POST">
                                <select class="select">
                                    <option selected class="text-opacity-50">RMB</option>
                                    <option>HKD</option>
                                    <option>TWD</option>
                                    <option>USD</option>
                                    <option>JPY</option>
                                </select>   
                            </form>
                            <i>500.00</i>
                        </div>
                        <!-- labels -->
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline text-xs">Fashion</div>
                            <div class="badge badge-outline text-xs">Products</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- pagination -->
            <div class="w-full text-center">
                <div class="join">
                    <button class="join-item btn">1</button>
                    <button class="join-item btn btn-active">2</button>
                    <button class="join-item btn">3</button>
                    <button class="join-item btn">4</button>
                </div>
            </div>
        </div>
        <!-- SIDEBAR -->
        <aside class="col-span-1 bg-primary-content text-info-content p-5">
            <div class="text-center text-lg">篩 選 寶 貝</div>

            <!-- form -->
            <form action="" method="POST" class="w-full mt-5">
                <fieldset class="fieldset w-full bg-transparent border-base-300 rounded-box border p-4">
                    <!-- form name
                    <legend class="fieldset-legend text-neutral text-base">尋找與您有緣的作品</legend> -->

                    <!-- input - keyword -->
                    <label class="label text-neutral">關鍵詞</label>
                    <input type="text" class="input bg-base-100 w-full" placeholder="請輸入關鍵詞" />

                    <!-- input - preferred color scheme -->
                    <label class="label text-neutral">色系</label>
                    <select class="select w-full">
                        <option disabled selected class="text-opacity-50">請選擇您喜歡的色系</option>
                        <option style="color: #FF0000;">紅色系</option>
                        <option style="color: #FFC0CB">粉紅色系</option>
                        <option style="color: #FFA500">橙色系</option>
                        <option style="color: #FFFF00">黃色系</option>
                        <option style="color: #800080">紫色系</option>
                        <option style="color: #008000">綠色系</option>
                        <option style="color: #0000FF">藍色系</option>
                        <option style="color: #A52A2A">褐色系</option>
                        <option style="color: #FFFFFF">白色系</option>
                        <option style="color: #808080">灰&黑色系</option>
                    </select>   

                    <!-- input - category -->
                    <label class="label text-neutral">類別</label>
                    <select class="select w-full">
                        <option disabled selected class="text-opacity-50">請選擇寶貝類別</option>
                        <option>油畫</option>
                        <option>水彩畫</option>
                        <option>其他</option>
                    </select>   

                    <!-- input - price-range -->
                    <label class="label text-neutral">價格範圍(RMB)</label>
                    <input type="range" min="1000" max="5000" value="25" class="range w-full" step="1000" />
                    <div class="flex justify-between px-2.5 mt-2 text-xs">
                        <span>|</span>
                        <span>|</span>
                        <span>|</span>
                        <span>|</span>
                        <span>|</span>
                    </div>
                    <div class="flex justify-between px-2.5 mt-2 text-xs">
                        <span>&lt;&yen;1K</span>
                        <span>&yen;2K</span>
                        <span>&yen;3K</span>
                        <span>&yen;4K</span>
                        <span>&yen;5K</span>
                    </div>

                    <!-- input - submit -->
                    <button type="submit" class="btn btn-neutral mt-4 tracking-50">尋&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;覓</button>
                </fieldset>
            </form>

            <!-- vlog -->
            <video autoplay muted loop class="rounded-2xl w-full my-10">
                <source src="/media/videos/demo.mp4" type="video/mp4">
            </video>
            
            <!-- rating -->
            <div class="my-10">
                <div class="text-center text-lg mb-5">客 戶 反 饋</div>

                <div class="flex my-5">
                    <div class="avatar">
                        <div class="mask mask-heart w-16 mr-2">
                            <img src="https://img.daisyui.com/images/profile/demo/distracted3@192.webp" />
                        </div>
                    </div>
                    <div>
                        <b class="text-sm">客戶A<span class="ml-2"><small class="text-xs">3小時前</small></span></b>
                        <p class="text-xs">好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！</p>
                    </div>
                </div>
                <div class="flex my-5">
                    <div class="avatar">
                        <div class="mask mask-squircle w-16 mr-2">
                            <img src="https://img.daisyui.com/images/profile/demo/distracted1@192.webp" />
                        </div>
                    </div>
                    <div>
                        <b class="text-sm">客戶A<span class="ml-2"><small class="text-xs">3小時前</small></span></b>
                        <p class="text-xs">好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！</p>
                    </div>
                </div>
                <div class="flex my-5">
                    <div class="avatar">
                        <div class="mask mask-hexagon-2 w-16 mr-2">
                            <img src="https://img.daisyui.com/images/profile/demo/distracted2@192.webp" />
                        </div>
                    </div>
                    <div>
                        <b class="text-sm">客戶A<span class="ml-2"><small class="text-xs">3小時前</small></span></b>
                        <p class="text-xs">好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！</p>
                    </div>
                </div>
                <div class="flex my-5">
                    <div class="avatar">
                        <div class="mask mask-circle w-16 mr-2">
                            <img src="https://img.daisyui.com/images/profile/demo/distracted3@192.webp" />
                        </div>
                    </div>
                    <div>
                        <b class="text-sm">客戶A<span class="ml-2"><small class="text-xs">3小時前</small></span></b>
                        <p class="text-xs">好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！好喜歡這一款產品，下次一定再來光顧！</p>
                    </div>
                </div>
            </div>

            <!-- links -->
            <div class="my-10">
                <div class="text-center text-lg mb-5">友 情 鏈 接 (廣 告)</div>
                <div class="w-full my-10 relative">
                    <div class="absolute -translate-1/2 top-1/2 left-1/2 text-primary-content">XX花藝</div>
                    <img src="/media/images/site/ad1.png.webp" alt="" class="rounded-2xl object-contain">
                </div>
                <div class="w-full my-10 relative">
                    <div class="absolute -translate-1/2 top-1/2 left-1/2 text-primary-content">網站開發</div>
                    <img src="/media/images/site/ad2.png" alt="" class="rounded-2xl object-contain">
                </div>
            </div>
        </aside>

    </div>
{% endblock %}